openapi: 3.2.0
info:
  title: Backpack Exchange System API
  description: '# Introduction


    Welcome to the Backpack Exchange API.'
  version: '1.0'
  x-logo:
    url: https://cdn.prod.website-files.com/66830ad123bea7f626bcf58f/68eccb03852237fd98ffad9b_Backpack-Icon-Color.svg
    altText: Backpack Exchange
  contact:
    name: Backpack Exchange Support
    url: https://support.backpack.exchange/
  license:
    name: Proprietary
servers:
- url: https://api.backpack.exchange
tags:
- name: System
  description: Exchange system status.
paths:
  /api/v1/status:
    get:
      tags:
      - System
      summary: Get system status
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/StatusAndMessage'
      operationId: get_status
  /api/v1/ping:
    get:
      tags:
      - System
      summary: Ping
      description: Responds with `pong`.
      responses:
        '200':
          description: ''
          content:
            text/plain; charset=utf-8:
              schema:
                type: string
      operationId: ping
  /api/v1/time:
    get:
      tags:
      - System
      summary: Get system time
      description: Retrieves the current system time.
      responses:
        '200':
          description: ''
          content:
            text/plain; charset=utf-8:
              schema:
                type: string
      operationId: get_time
  /api/v1/wallets:
    get:
      tags:
      - System
      summary: Get wallets
      description: Returns all configured blockchain wallets and their addresses.
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WalletResponse'
      operationId: get_wallets
components:
  schemas:
    Status:
      type: string
      enum:
      - Ok
      - Maintenance
    WalletResponse:
      type: object
      title: WalletResponse
      required:
      - blockchain
      - address
      properties:
        blockchain:
          type: string
          description: The blockchain network.
        address:
          type: string
          description: The wallet address.
    StatusAndMessage:
      type: object
      title: StatusAndMessage
      required:
      - status
      properties:
        status:
          description: Status of the system.
          allOf:
          - $ref: '#/components/schemas/Status'
          - description: Status of the system.
        message:
          type: string
          description: Status message, if any.
x-tagGroups:
- name: Public Endpoints
  tags:
  - Assets
  - Borrow Lend Markets
  - Markets
  - System
  - Trades
- name: Authenticated Endpoints
  tags:
  - Account
  - Borrow Lend
  - Capital
  - Order
  - Position
  - RFQ
  - Strategy
- name: Websocket
  tags:
  - Streams
