openapi: 3.2.0
info:
  title: Backpack Exchange Order API
  description: '# Introduction


    Welcome to the Backpack Exchange API.'
  version: '1.0'
  x-logo:
    url: https://cdn.prod.website-files.com/66830ad123bea7f626bcf58f/68eccb03852237fd98ffad9b_Backpack-Icon-Color.svg
    altText: Backpack Exchange
  contact:
    name: Backpack Exchange Support
    url: https://support.backpack.exchange/
  license:
    name: Proprietary
servers:
- url: https://api.backpack.exchange
tags:
- name: Order
  description: Order management.
paths:
  /api/v1/order:
    get:
      tags:
      - Order
      summary: Get open order
      description: 'Retrieves an open order from the order book. This only returns the order

        if it is resting on the order book (i.e. has not been completely filled,

        expired, or cancelled).


        One of `orderId` or `clientId` must be specified. If both are specified

        then the request will be rejected.


        **Instruction:** `orderQuery`'
      parameters:
      - name: X-API-KEY
        schema:
          type: string
        in: header
        description: API key
        required: true
        deprecated: false
        explode: true
      - name: X-SIGNATURE
        schema:
          type: string
        in: header
        description: Signature of the request
        required: true
        deprecated: false
        explode: true
      - name: X-TIMESTAMP
        schema:
          type: integer
          format: int64
        in: header
        description: Timestamp of the request in milliseconds
        required: true
        deprecated: false
        explode: true
      - name: X-WINDOW
        schema:
          type: integer
          format: uint64
        in: header
        description: Time the request is valid for in milliseconds (default `5000`, maximum `60000`)
        required: false
        deprecated: false
        explode: true
      - name: clientId
        schema:
          type: integer
          format: uint32
        in: query
        description: Client ID of the order.
        required: false
        deprecated: false
        explode: true
      - name: orderId
        schema:
          type: string
        in: query
        description: ID of the order.
        required: false
        deprecated: false
        explode: true
      - name: symbol
        schema:
          type: string
        in: query
        description: Market symbol for the order.
        required: true
        deprecated: false
        explode: true
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OrderType'
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Order not found.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_order
    post:
      tags:
      - Order
      summary: Execute order
      description: 'Submits an order to the matching engine for execution.


        **Instruction:** `orderExecute`'
      parameters:
      - name: X-API-KEY
        schema:
          type: string
        in: header
        description: API key
        required: true
        deprecated: false
        explode: true
      - name: X-SIGNATURE
        schema:
          type: string
        in: header
        description: Signature of the request
        required: true
        deprecated: false
        explode: true
      - name: X-TIMESTAMP
        schema:
          type: integer
          format: int64
        in: header
        description: Timestamp of the request in milliseconds
        required: true
        deprecated: false
        explode: true
      - name: X-WINDOW
        schema:
          type: integer
          format: uint64
        in: header
        description: Time the request is valid for in milliseconds (default `5000`, maximum `60000`)
        required: false
        deprecated: false
        explode: true
      - name: X-BROKER-ID
        schema:
          type: integer
          format: uint16
        in: header
        description: Broker ID of the order.
        required: false
        deprecated: false
        explode: true
      - name: X-BROKER-KEY
        schema:
          type: string
        in: header
        description: Broker key of the order.
        required: false
        deprecated: false
        explode: true
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OrderExecutePayload'
        required: true
      responses:
        '200':
          description: Order executed.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OrderType'
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '503':
          description: System under maintenance.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: execute_order
    delete:
      tags:
      - Order
      summary: Cancel open order
      description: 'Cancels an open order from the order book.


        One of `orderId` or `clientId` must be specified. If both are specified

        then the request will be rejected.


        **Instruction:** `orderCancel`'
      parameters:
      - name: X-API-KEY
        schema:
          type: string
        in: header
        description: API key
        required: true
        deprecated: false
        explode: true
      - name: X-SIGNATURE
        schema:
          type: string
        in: header
        description: Signature of the request
        required: true
        deprecated: false
        explode: true
      - name: X-TIMESTAMP
        schema:
          type: integer
          format: int64
        in: header
        description: Timestamp of the request in milliseconds
        required: true
        deprecated: false
        explode: true
      - name: X-WINDOW
        schema:
          type: integer
          format: uint64
        in: header
        description: Time the request is valid for in milliseconds (default `5000`, maximum `60000`)
        required: false
        deprecated: false
        explode: true
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OrderCancelPayload'
        required: true
      responses:
        '200':
          description: Order cancelled.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OrderType'
        '202':
          description: Request accepted but not yet executed.
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '503':
          description: System under maintenance.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: cancel_order
  /api/v1/orders:
    post:
      tags:
      - Order
      summary: Execute orders
      description: 'Submits a set of orders to the matching engine for execution in a batch.


        **Batch commands instruction:** `orderExecute`'
      parameters:
      - name: X-API-KEY
        schema:
          type: string
        in: header
        description: API key
        required: true
        deprecated: false
        explode: true
      - name: X-SIGNATURE
        schema:
          type: string
        in: header
        description: Signature of the request
        required: true
        deprecated: false
        explode: true
      - name: X-TIMESTAMP
        schema:
          type: integer
          format: int64
        in: header
        description: Timestamp of the request in milliseconds
        required: true
        deprecated: false
        explode: true
      - name: X-WINDOW
        schema:
          type: integer
          format: uint64
        in: header
        description: Time the request is valid for in milliseconds (default `5000`, maximum `60000`)
        required: false
        deprecated: false
        explode: true
      - name: X-BROKER-ID
        schema:
          type: integer
          format: uint16
        in: header
        description: Broker ID of the order.
        required: false
        deprecated: false
        explode: true
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/OrderExecutePayload'
        required: true
      responses:
        '200':
          description: Batch orders executed.
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BatchCommandOrderResult'
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '503':
          description: System under maintenance.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: execute_order_batch
    get:
      tags:
      - Order
      summary: Get open orders
      description: 'Retrieves all open orders. If a symbol is provided, only open orders for

        that market will be returned, otherwise all open orders are

        returned.


        **Instruction:** `orderQueryAll`'
      parameters:
      - name: X-API-KEY
        schema:
          type: string
        in: header
        description: API key
        required: true
        deprecated: false
        explode: true
      - name: X-SIGNATURE
        schema:
          type: string
        in: header
        description: Signature of the request
        required: true
        deprecated: false
        explode: true
      - name: X-TIMESTAMP
        schema:
          type: integer
          format: int64
        in: header
        description: Timestamp of the request in milliseconds
        required: true
        deprecated: false
        explode: true
      - name: X-WINDOW
        schema:
          type: integer
          format: uint64
        in: header
        description: Time the request is valid for in milliseconds (default `5000`, maximum `60000`)
        required: false
        deprecated: false
        explode: true
      - name: marketType
        schema:
          $ref: '#/components/schemas/MarketType'
        in: query
        description: The market for the orders (SPOT or PERP).
        required: false
        deprecated: false
        explode: true
      - name: symbol
        schema:
          type: string
        in: query
        description: The symbol of the market for the orders.
        required: false
        deprecated: false
        explode: true
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderType'
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_open_orders
    delete:
      tags:
      - Order
      summary: Cancel open orders
      description: 'Cancels all open orders on the specified market.


        **Instruction:** `orderCancelAll`'
      parameters:
      - name: X-API-KEY
        schema:
          type: string
        in: header
        description: API key
        required: true
        deprecated: false
        explode: true
      - name: X-SIGNATURE
        schema:
          type: string
        in: header
        description: Signature of the request
        required: true
        deprecated: false
        explode: true
      - name: X-TIMESTAMP
        schema:
          type: integer
          format: int64
        in: header
        description: Timestamp of the request in milliseconds
        required: true
        deprecated: false
        explode: true
      - name: X-WINDOW
        schema:
          type: integer
          format: uint64
        in: header
        description: Time the request is valid for in milliseconds (default `5000`, maximum `60000`)
        required: false
        deprecated: false
        explode: true
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OrderCancelAllPayload'
        required: true
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderType'
        '202':
          description: Request accepted but not yet executed.
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '503':
          description: System under maintenance.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: cancel_open_orders
  /wapi/v1/history/fills:
    get:
      tags:
      - Order
      summary: Get fill history
      description: 'Retrieves historical fills, with optional filtering for a specific order

        or symbol.


        **Instruction:** `fillHistoryQueryAll`'
      parameters:
      - name: X-API-KEY
        schema:
          type: string
        in: header
        description: API key
        required: false
        deprecated: false
        explode: true
      - name: X-SIGNATURE
        schema:
          type: string
        in: header
        description: Signature of the request
        required: false
        deprecated: false
        explode: true
      - name: X-TIMESTAMP
        schema:
          type: integer
          format: int64
        in: header
        description: Timestamp of the request in milliseconds
        required: false
        deprecated: false
        explode: true
      - name: X-WINDOW
        schema:
          type: integer
          format: uint64
        in: header
        description: Time the request is valid for in milliseconds (default `5000`, maximum `60000`)
        required: false
        deprecated: false
        explode: true
      - name: orderId
        schema:
          type: string
        in: query
        description: Filter to the given order.
        required: false
        deprecated: false
        explode: true
      - name: strategyId
        schema:
          type: string
        in: query
        description: Filter to the given strategy.
        required: false
        deprecated: false
        explode: true
      - name: from
        schema:
          type: integer
          format: int64
        in: query
        description: Filter to minimum time (milliseconds).
        required: false
        deprecated: false
        explode: true
      - name: to
        schema:
          type: integer
          format: int64
        in: query
        description: Filter to maximum time (milliseconds).
        required: false
        deprecated: false
        explode: true
      - name: symbol
        schema:
          type: string
        in: query
        description: Filter to the given symbol.
        required: false
        deprecated: false
        explode: true
      - name: limit
        schema:
          type: integer
          format: uint64
        in: query
        description: Maximum number to return. Default `100`, maximum `1000`.
        required: false
        deprecated: false
        explode: true
      - name: offset
        schema:
          type: integer
          format: uint64
        in: query
        description: Offset. Default `0`.
        required: false
        deprecated: false
        explode: true
      - name: fillType
        schema:
          $ref: '#/components/schemas/FillType'
        in: query
        description: Filter to return fills for different fill types
        required: false
        deprecated: false
        explode: true
      - name: marketType
        schema:
          type: array
          items:
            $ref: '#/components/schemas/MarketType'
        in: query
        description: Market type.
        required: false
        deprecated: false
        explode: true
      - name: sortDirection
        schema:
          $ref: '#/components/schemas/SortDirection'
        in: query
        description: Sort direction.
        required: false
        deprecated: false
        explode: true
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderFill'
          headers:
            ACCESS-CONTROL-EXPOSE-HEADERS:
              required: true
              deprecated: false
              schema:
                type: string
            X-PAGE-COUNT:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-CURRENT-PAGE:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-PAGE-SIZE:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-TOTAL:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            CACHE-CONTROL:
              required: true
              deprecated: false
              schema:
                type: string
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_fills
  /wapi/v1/history/orders:
    get:
      tags:
      - Order
      summary: Get order history
      description: 'Retrieves the order history for the user. This includes orders that have

        been filled and are no longer on the book. It may include orders

        that are on the book, but the `/orders` endpoint contains more up to

        date data.


        **Instruction:** `orderHistoryQueryAll`'
      parameters:
      - name: X-API-KEY
        schema:
          type: string
        in: header
        description: API key
        required: false
        deprecated: false
        explode: true
      - name: X-SIGNATURE
        schema:
          type: string
        in: header
        description: Signature of the request
        required: false
        deprecated: false
        explode: true
      - name: X-TIMESTAMP
        schema:
          type: integer
          format: int64
        in: header
        description: Timestamp of the request in milliseconds
        required: false
        deprecated: false
        explode: true
      - name: X-WINDOW
        schema:
          type: integer
          format: uint64
        in: header
        description: Time the request is valid for in milliseconds (default `5000`, maximum `60000`)
        required: false
        deprecated: false
        explode: true
      - name: orderId
        schema:
          type: string
        in: query
        description: Filter to the given order.
        required: false
        deprecated: false
        explode: true
      - name: strategyId
        schema:
          type: string
        in: query
        description: Filter to the given strategy.
        required: false
        deprecated: false
        explode: true
      - name: symbol
        schema:
          type: string
        in: query
        description: Filter to the given symbol.
        required: false
        deprecated: false
        explode: true
      - name: limit
        schema:
          type: integer
          format: uint64
        in: query
        description: Maximum number to return. Default `100`, maximum `1000`.
        required: false
        deprecated: false
        explode: true
      - name: offset
        schema:
          type: integer
          format: uint64
        in: query
        description: Offset. Default `0`.
        required: false
        deprecated: false
        explode: true
      - name: marketType
        schema:
          type: array
          items:
            $ref: '#/components/schemas/MarketType'
        in: query
        description: Market type.
        required: false
        deprecated: false
        explode: true
      - name: sortDirection
        schema:
          $ref: '#/components/schemas/SortDirection'
        in: query
        description: Sort direction.
        required: false
        deprecated: false
        explode: true
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
          headers:
            ACCESS-CONTROL-EXPOSE-HEADERS:
              required: true
              deprecated: false
              schema:
                type: string
            X-PAGE-COUNT:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-CURRENT-PAGE:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-PAGE-SIZE:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-TOTAL:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            CACHE-CONTROL:
              required: true
              deprecated: false
              schema:
                type: string
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_order_history
components:
  schemas:
    ApiErrorResponse:
      type: object
      title: ApiErrorResponse
      required:
      - code
      - message
      properties:
        code:
          $ref: '#/components/schemas/ApiErrorCode'
        message:
          type: string
    OrderType:
      type: object
      anyOf:
      - $ref: '#/components/schemas/OrderType_MarketOrder'
      - $ref: '#/components/schemas/OrderType_LimitOrder'
      discriminator:
        propertyName: orderType
        mapping:
          Market: '#/components/schemas/OrderType_MarketOrder'
          Limit: '#/components/schemas/OrderType_LimitOrder'
    OrderExecutePayload:
      type: object
      title: OrderExecutePayload
      required:
      - orderType
      - side
      - symbol
      properties:
        autoLend:
          type: boolean
          description: If true then the order can lend. Spot margin only.
        autoLendRedeem:
          type: boolean
          description: If true then the order can redeem a lend if required. Spot margin only.
        autoBorrow:
          type: boolean
          description: If true then the order can borrow. Spot margin only.
        autoBorrowRepay:
          type: boolean
          description: If true then the order can repay a borrow. Spot margin only.
        brokerId:
          type: integer
          format: uint16
          description: Broker ID of the order.
        clientId:
          type: integer
          format: uint32
          description: Custom order id.
        orderType:
          description: Order type, market or limit.
          allOf:
          - $ref: '#/components/schemas/OrderTypeEnum'
          - description: Order type, market or limit.
        postOnly:
          type: boolean
          description: Only post liquidity, do not take liquidity.
        price:
          type: string
          format: decimal
          description: The order price if this is a limit order.
        quantity:
          type: string
          format: decimal
          description: 'The order quantity. Market orders must specify either a `quantity` or

            `quoteQuantity`. All other order types must specify a `quantity`.'
        quoteQuantity:
          type: string
          format: decimal
          description: 'The maximum amount of the quote asset to spend (Ask) or receive (Bid)

            for market orders. This is used for reverse market orders. The

            order book will execute a `quantity` as close as possible to the

            notional value of `quoteQuantity`.'
        reduceOnly:
          type: boolean
          description: If true then the order can only reduce the positon. Futures only.
        selfTradePrevention:
          description: Action to take if the user crosses themselves in the order book.
          allOf:
          - $ref: '#/components/schemas/SelfTradePrevention'
          - description: Action to take if the user crosses themselves in the order book.
        side:
          description: 'Order will be matched against the resting orders on the other side of

            the order book.'
          allOf:
          - $ref: '#/components/schemas/Side'
          - description: 'Order will be matched against the resting orders on the other side of

              the order book.'
        stopLossLimitPrice:
          type: string
          format: decimal
          description: Stop loss limit price. If set the stop loss will be a limit order.
        stopLossTriggerBy:
          type: string
          description: Reference price that should trigger the stop loss order.
          enum:
          - MarkPrice
          - LastPrice
          - IndexPrice
        stopLossTriggerPrice:
          type: string
          description: Stop loss price (price the stop loss order will be triggered at).
        symbol:
          type: string
          description: The market for the order.
        takeProfitLimitPrice:
          type: string
          format: decimal
          description: Take profit limit price. If set the take profit will be a limit order,
        takeProfitTriggerBy:
          type: string
          description: Reference price that should trigger the take profit order.
          enum:
          - MarkPrice
          - LastPrice
          - IndexPrice
        takeProfitTriggerPrice:
          type: string
          description: Take profit price (price the take profit order will be triggered at).
        timeInForce:
          description: How long the order is good for.
          allOf:
          - $ref: '#/components/schemas/TimeInForce'
          - description: How long the order is good for.
        triggerBy:
          type: string
          description: Reference price that should trigger the order.
          enum:
          - MarkPrice
          - LastPrice
          - IndexPrice
        triggerPrice:
          type: string
          description: Trigger price if this is a conditional order.
        triggerQuantity:
          type: string
          description: Trigger quantity if this is a trigger order.
        slippageTolerance:
          type: string
          format: decimal
          description: Slippage tolerance allowed for the order.
        slippageToleranceType:
          description: Slippage tolerance type.
          allOf:
          - $ref: '#/components/schemas/SlippageToleranceType'
          - description: Slippage tolerance type.
    OrderFill:
      type: object
      title: OrderFill
      required:
      - fee
      - feeSymbol
      - isMaker
      - orderId
      - price
      - quantity
      - side
      - symbol
      - timestamp
      properties:
        clientId:
          type: string
          description: Client id of the order.
        fee:
          type: string
          format: decimal
          description: The fee charged on the fill.
        feeSymbol:
          type: string
          description: The asset that is charged as a fee.
        isMaker:
          type: boolean
          description: Whether the fill was made by the maker.
        orderId:
          type: string
          description: The order ID of the fill.
        price:
          type: string
          format: decimal
          description: The price of the fill.
        quantity:
          type: string
          format: decimal
          description: The quantity of the fill.
        side:
          description: The side of the fill.
          allOf:
          - $ref: '#/components/schemas/Side'
          - description: The side of the fill.
        symbol:
          type: string
          description: The market symbol of the fill.
        systemOrderType:
          description: The type of system order that triggered the fill.
          allOf:
          - $ref: '#/components/schemas/SystemOrderType'
          - description: The type of system order that triggered the fill.
        timestamp:
          type: string
          format: naive-date-time
          description: The timestamp of the fill (UTC).
        tradeId:
          type: integer
          format: int64
          description: The trade ID of the fill.
    OrderCancelAllPayload:
      type: object
      title: OrderCancelAllPayload
      required:
      - symbol
      properties:
        symbol:
          type: string
          description: Market to cancel orders for.
        orderType:
          description: Type of orders to cancel.
          allOf:
          - $ref: '#/components/schemas/CancelOrderTypeEnum'
          - description: Type of orders to cancel.
    SelfTradePrevention:
      type: string
      enum:
      - RejectTaker
      - RejectMaker
      - RejectBoth
    CancelOrderTypeEnum:
      type: string
      enum:
      - RestingLimitOrder
      - ConditionalOrder
    BatchCommandOrderResult:
      type: object
      oneOf:
      - $ref: '#/components/schemas/BatchCommandOrderResult_OrderType'
      - $ref: '#/components/schemas/BatchCommandOrderResult_ApiErrorResponse'
      discriminator:
        propertyName: operation
        mapping:
          Ok: '#/components/schemas/BatchCommandOrderResult_OrderType'
          Err: '#/components/schemas/BatchCommandOrderResult_ApiErrorResponse'
    TimeInForce:
      type: string
      enum:
      - GTC
      - IOC
      - FOK
    MarketOrder:
      type: object
      title: MarketOrder
      required:
      - id
      - createdAt
      - executedQuantity
      - executedQuoteQuantity
      - timeInForce
      - selfTradePrevention
      - side
      - status
      - symbol
      properties:
        id:
          type: string
          description: Unique ID of this order.
        clientId:
          type: integer
          format: uint32
          description: Custom order ID.
        createdAt:
          type: integer
          format: int64
          description: Time the order was created.
        executedQuantity:
          type: string
          format: decimal
          description: Quantity that has been filled.
        executedQuoteQuantity:
          type: string
          format: decimal
          description: Quantity of the quote asset that has been filled.
        quantity:
          type: string
          format: decimal
          description: Quantity to fill.
        quoteQuantity:
          type: string
          format: decimal
          description: Quantity of the quote asset to fill.
        reduceOnly:
          type: boolean
          description: True if reducing a futures position.
        timeInForce:
          description: How long the order is good for.
          allOf:
          - $ref: '#/components/schemas/TimeInForce'
          - description: How long the order is good for.
        selfTradePrevention:
          description: 'Action to take in the event the user crosses themselves in the

            order book. Default is `RejectTaker`.'
          allOf:
          - $ref: '#/components/schemas/SelfTradePrevention'
          - description: 'Action to take in the event the user crosses themselves in the

              order book. Default is `RejectTaker`.'
        side:
          description: 'The order side. It will be matched against the resting orders on the

            other side of the order book.'
          allOf:
          - $ref: '#/components/schemas/Side'
          - description: 'The order side. It will be matched against the resting orders on the

              other side of the order book.'
        status:
          description: Status of the order.
          allOf:
          - $ref: '#/components/schemas/OrderStatus'
          - description: Status of the order.
        stopLossTriggerPrice:
          type: string
          description: Stop loss price (price the stop loss order will be triggered at).
        stopLossLimitPrice:
          type: string
          format: decimal
          description: 'Stop loss limit price. If set the stop loss will be a limit order,

            otherwise it will be a market order.'
        stopLossTriggerBy:
          type: string
          description: Reference price that should trigger the stop loss order.
          enum:
          - MarkPrice
          - LastPrice
          - IndexPrice
        symbol:
          type: string
          description: Market symbol.
        takeProfitTriggerPrice:
          type: string
          description: Take profit price (price the take profit order will be triggered at).
        takeProfitLimitPrice:
          type: string
          format: decimal
          description: 'Take profit limit price. If set the take profit will be a limit order,

            otherwise it will be a market order.'
        takeProfitTriggerBy:
          type: string
          description: Reference price that should trigger the take profit order.
          enum:
          - MarkPrice
          - LastPrice
          - IndexPrice
        triggerBy:
          type: string
          description: Reference price that should trigger the order.
          enum:
          - MarkPrice
          - LastPrice
          - IndexPrice
        triggerPrice:
          type: string
          description: Price the order should trigger at, if any.
        triggerQuantity:
          type: string
          description: Quantity for trigger orders.
        triggeredAt:
          type: integer
          format: int64
        relatedOrderId:
          type: string
          description: 'The ID of the related order. This may refer to a parent order or,

            for a trigger order, the order this trigger is for.'
        strategyId:
          type: string
          description: Strategy ID of the order, if any.
        slippageTolerance:
          type: string
          format: decimal
          description: Slippage tolerance allowed for the order.
        slippageToleranceType:
          description: Slippage tolerance type
          allOf:
          - $ref: '#/components/schemas/SlippageToleranceType'
          - description: Slippage tolerance type
    BatchCommandOrderResult_ApiErrorResponse:
      allOf:
      - type: object
        required:
        - operation
        properties:
          operation:
            type: string
            enum:
            - Err
            example: Err
      - $ref: '#/components/schemas/ApiErrorResponse'
    MarketType:
      type: string
      enum:
      - SPOT
      - PERP
      - IPERP
      - DATED
      - PREDICTION
      - RFQ
    OrderType_MarketOrder:
      allOf:
      - type: object
        required:
        - orderType
        properties:
          orderType:
            type: string
            enum:
            - Market
            example: Market
      - $ref: '#/components/schemas/MarketOrder'
    FillType:
      type: string
      enum:
      - User
      - BookLiquidation
      - Adl
      - Backstop
      - Liquidation
      - AllLiquidation
      - CollateralConversion
      - CollateralConversionAndSpotLiquidation
    ApiErrorCode:
      type: string
      enum:
      - ACCOUNT_DEACTIVATED
      - ACCOUNT_LIQUIDATING
      - BORROW_LIMIT
      - BORROW_REQUIRES_LEND_REDEEM
      - FORBIDDEN
      - INSUFFICIENT_FUNDS
      - INSUFFICIENT_MARGIN
      - INSUFFICIENT_SUPPLY
      - INVALID_ASSET
      - INVALID_CLIENT_REQUEST
      - INVALID_MARKET
      - INVALID_ORDER
      - INVALID_PRICE
      - INVALID_POSITION_ID
      - INVALID_QUANTITY
      - INVALID_RANGE
      - INVALID_SIGNATURE
      - INVALID_SOURCE
      - INVALID_SYMBOL
      - INVALID_TWO_FACTOR_CODE
      - LEND_LIMIT
      - LEND_REQUIRES_BORROW_REPAY
      - MAINTENANCE
      - MAX_LEVERAGE_REACHED
      - NOT_IMPLEMENTED
      - ORDER_LIMIT
      - POSITION_LIMIT
      - PRECONDITION_FAILED
      - RESOURCE_NOT_FOUND
      - SERVER_ERROR
      - TIMEOUT
      - TOO_EARLY
      - TOO_MANY_REQUESTS
      - TRADING_PAUSED
      - UNAUTHORIZED
    Order:
      type: object
      title: Order
      required:
      - id
      - createdAt
      - orderType
      - selfTradePrevention
      - status
      - side
      - symbol
      - timeInForce
      properties:
        id:
          type: string
          description: Unique ID of the order.
        createdAt:
          type: string
          format: naive-date-time
          description: Time the order was created.
        executedQuantity:
          type: string
          format: decimal
          description: Quantity of the order that has been filled.
        executedQuoteQuantity:
          type: string
          format: decimal
          description: Quantity of the order that has been filled in the quote asset.
        expiryReason:
          description: Order expiry reason.
          allOf:
          - $ref: '#/components/schemas/OrderExpiryReason'
          - description: Order expiry reason.
        orderType:
          description: Type of order.
          allOf:
          - $ref: '#/components/schemas/OrderTypeEnum'
          - description: Type of order.
        postOnly:
          type: boolean
          description: Whether the order is post only or not.
        price:
          type: string
          format: decimal
          description: Price that the order was submitted at (if `orderType` is `Limit`)
        quantity:
          type: string
          format: decimal
          description: Quantity of the order.
        quoteQuantity:
          type: string
          format: decimal
          description: Quantity of the order in quote the quote asset.
        selfTradePrevention:
          description: Self trade prevention setting of the order. Default is `RejectTaker`.
          allOf:
          - $ref: '#/components/schemas/SelfTradePrevention'
          - description: Self trade prevention setting of the order. Default is `RejectTaker`.
        status:
          description: Status of the order.
          allOf:
          - $ref: '#/components/schemas/OrderStatus'
          - description: Status of the order.
        side:
          description: Side of the order.
          allOf:
          - $ref: '#/components/schemas/Side'
          - description: Side of the order.
        stopLossTriggerPrice:
          type: string
          description: Stop loss price (price the stop loss order will be triggered at).
        stopLossLimitPrice:
          type: string
          format: decimal
          description: 'Stop loss limit price. If set the stop loss will be a limit order,

            otherwise it will be a market order.'
        stopLossTriggerBy:
          type: string
          description: Reference price that should trigger the stop loss order.
          enum:
          - MarkPrice
          - LastPrice
          - IndexPrice
        symbol:
          type: string
          description: Market symbol of the order.
        takeProfitTriggerPrice:
          type: string
          description: Take profit price (price the take profit order will be triggered at).
        takeProfitLimitPrice:
          type: string
          format: decimal
          description: 'Take profit limit price. If set the take profit will be a limit order,

            otherwise it will be a market order.'
        takeProfitTriggerBy:
          type: string
          description: Reference price that should trigger the take profit order.
          enum:
          - MarkPrice
          - LastPrice
          - IndexPrice
        timeInForce:
          description: Time in force of the order.
          allOf:
          - $ref: '#/components/schemas/TimeInForce'
          - description: Time in force of the order.
        triggerBy:
          type: string
          description: Reference price that should trigger the order.
          enum:
          - MarkPrice
          - LastPrice
          - IndexPrice
        triggerPrice:
          type: string
          description: Price the order was set to trigger at.
        triggerQuantity:
          type: string
          description: Trigger quantity.
        clientId:
          type: integer
          format: uint32
          description: Custom order ID.
        systemOrderType:
          description: The type of system order, if applicable.
          allOf:
          - $ref: '#/components/schemas/SystemOrderType'
          - description: The type of system order, if applicable.
        strategyId:
          type: string
          description: Strategy ID of the order, if any.
        slippageTolerance:
          type: string
          format: decimal
          description: Slippage tolerance allowed for the order.
        slippageToleranceType:
          description: Slippage tolerance type
          allOf:
          - $ref: '#/components/schemas/SlippageToleranceType'
          - description: Slippage tolerance type
    OrderStatus:
      type: string
      enum:
      - Cancelled
      - Expired
      - Filled
      - New
      - PartiallyFilled
      - TriggerPending
      - TriggerFailed
    BatchCommandOrderResult_OrderType:
      allOf:
      - type: object
        required:
        - operation
        properties:
          operation:
            type: string
            enum:
            - Ok
            example: Ok
      - $ref: '#/components/schemas/OrderType'
    Side:
      type: string
      enum:
      - Bid
      - Ask
    LimitOrder:
      type: object
      title: LimitOrder
      required:
      - id
      - createdAt
      - executedQuantity
      - executedQuoteQuantity
      - postOnly
      - price
      - quantity
      - selfTradePrevention
      - status
      - side
      - symbol
      - timeInForce
      properties:
        id:
          type: string
          description: ID of the order.
        clientId:
          type: integer
          format: uint32
          description: Custom order ID.
        createdAt:
          type: integer
          format: int64
          description: Time the order was created.
        executedQuantity:
          type: string
          format: decimal
          description: Quantity that has been filled.
        executedQuoteQuantity:
          type: string
          format: decimal
          description: The quantity of the quote asset that has been filled.
        postOnly:
          type: boolean
          description: Whether the order is post only or not
        price:
          type: string
          format: decimal
          description: 'The limit price. The order book will only match this order with

            other orders at this price or better.'
        quantity:
          type: string
          format: decimal
          description: Quantity to fill.
        reduceOnly:
          type: boolean
          description: True if reducing a futures position.
        selfTradePrevention:
          description: 'Action to take in the event the user crosses themselves in the

            order book. Default is `RejectTaker`.'
          allOf:
          - $ref: '#/components/schemas/SelfTradePrevention'
          - description: 'Action to take in the event the user crosses themselves in the

              order book. Default is `RejectTaker`.'
        status:
          description: Status of the order.
          allOf:
          - $ref: '#/components/schemas/OrderStatus'
          - description: Status of the order.
        stopLossTriggerPrice:
          type: string
          description: Stop loss price (price the stop loss order will be triggered at).
        stopLossLimitPrice:
          type: string
          format: decimal
          description: 'Stop loss limit price. If set the stop loss will be a limit order,

            otherwise it will be a market order.'
        stopLossTriggerBy:
          type: string
          description: Reference price that should trigger the stop loss order.
          enum:
          - MarkPrice
          - LastPrice
          - IndexPrice
        side:
          description: 'The order side. It will be matched against the resting orders on the

            other side of the order book.'
          allOf:
          - $ref: '#/components/schemas/Side'
          - description: 'The order side. It will be matched against the resting orders on the

              other side of the order book.'
        symbol:
          type: string
          description: Market symbol.
        takeProfitTriggerPrice:
          type: string
          description: Take profit price (price the take profit order will be triggered at).
        takeProfitLimitPrice:
          type: string
          format: decimal
          description: 'Take profit limit price. If set the take profit will be a limit order,

            otherwise it will be a market order.'
        takeProfitTriggerBy:
          type: string
          description: Reference price that should trigger the take profit order.
          enum:
          - MarkPrice
          - LastPrice
          - IndexPrice
        timeInForce:
          description: How long the order is good for.
          allOf:
          - $ref: '#/components/schemas/TimeInForce'
          - description: How long the order is good for.
        triggerBy:
          type: string
          description: Reference price that should trigger the order.
          enum:
          - MarkPrice
          - LastPrice
          - IndexPrice
        triggerPrice:
          type: string
          description: Price the order should trigger at, if any.
        triggerQuantity:
          type: string
          description: Quantity for trigger orders.
        triggeredAt:
          type: integer
          format: int64
        relatedOrderId:
          type: string
          description: 'The ID of the related order. This may refer to a parent order or,

            for a trigger order, the order this trigger is for.'
        strategyId:
          type: string
          description: Strategy ID of the order, if any.
    SystemOrderType:
      type: string
      enum:
      - CollateralConversion
      - FutureExpiry
      - LiquidatePositionOnAdl
      - LiquidatePositionOnBook
      - LiquidatePositionOnBackstop
      - OrderBookClosed
    SlippageToleranceType:
      type: string
      enum:
      - TickSize
      - Percent
    SortDirection:
      type: string
      enum:
      - Asc
      - Desc
    OrderTypeEnum:
      type: string
      enum:
      - Market
      - Limit
    OrderType_LimitOrder:
      allOf:
      - type: object
        required:
        - orderType
        properties:
          orderType:
            type: string
            enum:
            - Limit
            example: Limit
      - $ref: '#/components/schemas/LimitOrder'
    OrderExpiryReason:
      type: string
      enum:
      - AccountTradingSuspended
      - BorrowRequiresLendRedeem
      - FillOrKill
      - InsufficientBorrowableQuantity
      - InsufficientFunds
      - InsufficientLiquidity
      - InvalidPrice
      - InvalidQuantity
      - ImmediateOrCancel
      - InsufficientMargin
      - Liquidation
      - NegativeEquity
      - PostOnlyMode
      - PostOnlyTaker
      - PriceOutOfBounds
      - ReduceOnlyNotReduced
      - SelfTradePrevention
      - StopWithoutPosition
      - PriceImpact
      - Unknown
      - UserPermissions
      - MaxStopOrdersPerPosition
      - PositionLimit
      - SlippageToleranceExceeded
    OrderCancelPayload:
      type: object
      title: OrderCancelPayload
      required:
      - symbol
      properties:
        clientId:
          type: integer
          format: uint32
          description: Client ID of the order.
        orderId:
          type: string
          description: ID of the order.
        symbol:
          type: string
          description: Market the order exists on.
x-tagGroups:
- name: Public Endpoints
  tags:
  - Assets
  - Borrow Lend Markets
  - Markets
  - System
  - Trades
- name: Authenticated Endpoints
  tags:
  - Account
  - Borrow Lend
  - Capital
  - Order
  - Position
  - RFQ
  - Strategy
- name: Websocket
  tags:
  - Streams
