openapi: 3.2.0
info:
  title: Backpack Exchange Markets API
  description: '# Introduction


    Welcome to the Backpack Exchange API.'
  version: '1.0'
  x-logo:
    url: https://cdn.prod.website-files.com/66830ad123bea7f626bcf58f/68eccb03852237fd98ffad9b_Backpack-Icon-Color.svg
    altText: Backpack Exchange
  contact:
    name: Backpack Exchange Support
    url: https://support.backpack.exchange/
  license:
    name: Proprietary
servers:
- url: https://api.backpack.exchange
tags:
- name: Markets
  description: Public market data.
paths:
  /api/v1/markets:
    get:
      tags:
      - Markets
      summary: Get markets
      description: Retrieves all the markets that are supported by the exchange.
      parameters:
      - name: marketType
        schema:
          type: array
          items:
            $ref: '#/components/schemas/MarketType'
        in: query
        description: Market type. Defaults to return spot and perp.
        required: false
        deprecated: false
        explode: true
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Market'
          headers:
            CACHE-CONTROL:
              required: true
              deprecated: false
              schema:
                type: string
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_markets
  /api/v1/market:
    get:
      tags:
      - Markets
      summary: Get market
      description: Retrieves a market supported by the exchange.
      parameters:
      - name: symbol
        schema:
          type: string
        in: query
        required: true
        deprecated: false
        explode: true
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Market'
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_market
  /api/v1/depth:
    get:
      tags:
      - Markets
      summary: Get depth
      description: Retrieves the order book depth for a given market symbol.
      parameters:
      - name: symbol
        schema:
          type: string
        in: query
        required: true
        deprecated: false
        explode: true
      - name: limit
        schema:
          $ref: '#/components/schemas/DepthLimit'
        in: query
        description: Limit on the number of price levels to return on each side. Defaults to `1000`.
        required: false
        deprecated: false
        explode: true
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Depth'
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_depth
  /api/v1/prediction:
    get:
      tags:
      - Markets
      summary: Get prediction events
      description: Retrieves all the events and associated markets that are supported by the exchange.
      parameters:
      - name: symbol
        schema:
          type: string
        in: query
        description: The market symbol for the prediction market.
        required: false
        deprecated: false
        explode: true
      - name: tagSlug
        schema:
          type: string
        in: query
        description: The tag slug of the prediction event.
        required: false
        deprecated: false
        explode: true
      - name: eventSlug
        schema:
          type: string
        in: query
        description: The event slug that the prediction market is based on.
        required: false
        deprecated: false
        explode: true
      - name: seriesSlug
        schema:
          type: string
        in: query
        description: The series slug that the prediction event belongs to.
        required: false
        deprecated: false
        explode: true
      - name: resolved
        schema:
          type: boolean
        in: query
        description: Whether the prediction market is resolved.
        required: false
        deprecated: false
        explode: true
      - name: limit
        schema:
          type: integer
          format: uint64
        in: query
        description: Maximum number to return. Default `100`, maximum `1000`.
        required: false
        deprecated: false
        explode: true
      - name: offset
        schema:
          type: integer
          format: uint64
        in: query
        description: Offset. Default `0`.
        required: false
        deprecated: false
        explode: true
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
          headers:
            ACCESS-CONTROL-EXPOSE-HEADERS:
              required: true
              deprecated: false
              schema:
                type: string
            X-PAGE-COUNT:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-CURRENT-PAGE:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-PAGE-SIZE:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-TOTAL:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_prediction_events
  /api/v1/prediction/tags:
    get:
      tags:
      - Markets
      summary: Get prediction tags
      description: Retrieves all prediction tags supported by the exchange.
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_prediction_tags
  /api/v1/market-sessions:
    get:
      tags:
      - Markets
      summary: Get market sessions
      description: 'Retrieves the list of market sessions. To see which sessions a

        specific security trades in, and its quantity constraints per session, see `/api/v1/securities`.'
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketSession'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_market_sessions
  /api/v1/securities:
    get:
      tags:
      - Markets
      summary: Get securities
      description: Retrieves tradable securities.
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Security'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_securities
  /api/v1/markPrices:
    get:
      tags:
      - Markets
      summary: Get mark prices
      description: 'Retrieves mark prices, index prices, and funding rates for futures

        products, or a specified symbol.'
      parameters:
      - name: symbol
        schema:
          type: string
        in: query
        required: false
        deprecated: false
        explode: true
      - name: marketType
        schema:
          $ref: '#/components/schemas/MarketType'
        in: query
        description: Market type. Defaults to return perp.
        required: false
        deprecated: false
        explode: true
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarkPrice'
          headers:
            CACHE-CONTROL:
              required: true
              deprecated: false
              schema:
                type: string
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_mark_prices
  /api/v1/openInterest:
    get:
      tags:
      - Markets
      summary: Get open interest
      description: 'Retrieves the current open interest for the given market.

        If no market is provided, then all markets are returned.'
      parameters:
      - name: symbol
        schema:
          type: string
        in: query
        required: false
        deprecated: false
        explode: true
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OpenInterest'
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_open_interest
  /api/v1/fundingRates:
    get:
      tags:
      - Markets
      summary: Get funding interval rates
      description: Funding interval rate history for futures.
      parameters:
      - name: symbol
        schema:
          type: string
        in: query
        description: Market symbol to query
        required: true
        deprecated: false
        explode: true
      - name: limit
        schema:
          type: integer
          format: uint64
        in: query
        description: Maximum number to return. Default `100`, maximum `10000`.
        required: false
        deprecated: false
        explode: true
      - name: offset
        schema:
          type: integer
          format: uint64
        in: query
        description: Offset for pagination. Default `0`.
        required: false
        deprecated: false
        explode: true
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundingIntervalRate'
          headers:
            ACCESS-CONTROL-EXPOSE-HEADERS:
              required: true
              deprecated: false
              schema:
                type: string
            X-PAGE-COUNT:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-CURRENT-PAGE:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-PAGE-SIZE:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-TOTAL:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_funding_interval_rates
  /api/v1/klines:
    get:
      summary: Get K-lines
      description: 'Returns candles for the given market and interval. Recent data is

        served from the in-memory store; requests reaching further back

        than the store''s retention window fall through to ClickHouse.'
      parameters:
      - name: symbol
        schema:
          type: string
        in: query
        description: Market symbol, e.g. `SOL_USDC`.
        required: true
        deprecated: false
        explode: true
      - name: interval
        schema:
          $ref: '#/components/schemas/KlineInterval'
        in: query
        required: true
        deprecated: false
        explode: true
      - name: startTime
        schema:
          type: integer
          format: int64
        in: query
        description: UTC timestamp in seconds.
        required: true
        deprecated: false
        explode: true
      - name: endTime
        schema:
          type: integer
          format: int64
        in: query
        description: UTC timestamp in seconds. Defaults to now.
        required: false
        deprecated: false
        explode: true
      - name: priceType
        schema:
          $ref: '#/components/schemas/KlinePriceType'
        in: query
        description: K-line price type. Defaults to `last`.
        required: false
        deprecated: false
        explode: true
      responses:
        '200':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Kline'
          headers:
            CACHE-CONTROL:
              required: true
              deprecated: false
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_klines
      tags:
      - Markets
  /api/v1/ticker:
    get:
      summary: Get ticker for a single market
      parameters:
      - name: symbol
        schema:
          type: string
        in: query
        required: true
        deprecated: false
        explode: true
      - name: interval
        schema:
          $ref: '#/components/schemas/TickerInterval'
        in: query
        required: false
        deprecated: false
        explode: true
      responses:
        '200':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Ticker'
          headers:
            CACHE-CONTROL:
              required: true
              deprecated: false
              schema:
                type: string
        '204':
          description: ''
        '400':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_ticker
      tags:
      - Markets
  /api/v1/tickers:
    get:
      summary: Get tickers for every market
      parameters:
      - name: interval
        schema:
          $ref: '#/components/schemas/TickerInterval'
        in: query
        required: false
        deprecated: false
        explode: true
      responses:
        '200':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ticker'
          headers:
            CACHE-CONTROL:
              required: true
              deprecated: false
              schema:
                type: string
        '500':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_tickers
      tags:
      - Markets
components:
  schemas:
    Tag:
      type: object
      title: Tag
      required:
      - slug
      - title
      properties:
        slug:
          type: string
          description: Tag associated with the prediction event.
        title:
          type: string
          description: The tag title of the prediction market.
    ApiErrorResponse:
      type: object
      title: ApiErrorResponse
      required:
      - code
      - message
      properties:
        code:
          $ref: '#/components/schemas/ApiErrorCode'
        message:
          type: string
    PredictionMarket:
      type: object
      title: PredictionMarket
      required:
      - marketSymbol
      - question
      - yesOutcomeLabel
      - noOutcomeLabel
      - rules
      - activePrice
      - quoteVolume
      - quoteVolumeLifetime
      - resolutionDelaySecs
      properties:
        marketSymbol:
          type: string
        question:
          type: string
          description: The question that the prediction market will resolve e.g. `'Will England win the 2026 FIFA World Cup?'`
        groupLabel:
          type: string
          description: The short textual label summarising the different market outcomes composing an event.
        yesOutcomeLabel:
          type: string
          description: The yes outcome of the prediction market e.g. "England" for the football match England vs Brazil.
        noOutcomeLabel:
          type: string
          description: The no outcome of the prediction market e.g. "Brazil" for the football match England vs Brazil.
        rules:
          type: string
          description: The rules of the prediction market e.g. "The team that wins the 2025 men's world cup."
        resolvedAt:
          type: string
          format: naive-date-time
          description: Time at which the prediction market was resolved.
        resolutionPrice:
          type: string
          format: decimal
          description: The price at which the prediction market was resolved.
        activePrice:
          type: string
          format: decimal
          description: The active traded price of the prediction market.
        quoteVolume:
          type: string
          format: decimal
          description: The 24hr quote volume of the prediction market.
        quoteVolumeLifetime:
          type: string
          format: decimal
          description: The lifetime quote volume of the prediction market.
        imgUrl:
          type: string
          description: An image URL associated with the market.
        resolutionCondition:
          description: The condition that determines how the prediction market resolves.
          allOf:
          - $ref: '#/components/schemas/ResolutionCondition'
          - description: The condition that determines how the prediction market resolves.
        proposedResolution:
          type: boolean
          description: The proposed resolution for the market (true = yes, false = no).
        proposedResolutionAt:
          type: string
          format: naive-date-time
          description: Time at which the proposed resolution was set.
        resolutionDelaySecs:
          type: integer
          format: int32
          description: 'Seconds to wait after `proposed_resolution_at` before this market is resolved.

            Bounded server-side to [0, 604800] (7 days).'
    OpenInterest:
      type: object
      title: OpenInterest
      required:
      - symbol
      - timestamp
      properties:
        symbol:
          type: string
          description: The symbol of the market.
        openInterest:
          type: string
          format: decimal
          description: The open interest.
        timestamp:
          type: integer
          format: int64
          description: Timestamp.
    TickerInterval:
      type: string
      enum:
      - 1d
      - 1w
    MarkPrice:
      type: object
      title: MarkPrice
      required:
      - markPrice
      - symbol
      properties:
        fundingRate:
          type: string
          format: decimal
          description: 'The funding rate for the current interval.

            Only returned for perpetual markets.'
        indexPrice:
          type: string
          format: decimal
          description: 'The index price for the market.

            Only returned for perpetual markets.'
        markPrice:
          type: string
          format: decimal
          description: The mark price for the market.
        nextFundingTimestamp:
          type: integer
          format: int64
          description: 'The end time of the current interval and start time of next interval.

            Funding payments will be distributed at this time.

            Only returned for perpetual markets.'
        symbol:
          type: string
          description: The symbol of the market.
    DepthLimit:
      type: string
      enum:
      - '5'
      - '10'
      - '20'
      - '50'
      - '100'
      - '500'
      - '1000'
    Market:
      type: object
      title: Market
      required:
      - symbol
      - baseSymbol
      - quoteSymbol
      - marketType
      - filters
      - orderBookState
      - createdAt
      - visible
      properties:
        symbol:
          type: string
          description: Symbol of the market, e.g. `ETH_USDC`
        baseSymbol:
          type: string
          description: The base asset of the market.
        quoteSymbol:
          type: string
          description: The quote asset of the market.
        marketType:
          description: The type of the market.
          allOf:
          - $ref: '#/components/schemas/MarketType'
          - description: The type of the market.
        filters:
          description: Price, lot and leverage rules.
          allOf:
          - $ref: '#/components/schemas/OrderBookFilters'
          - description: Price, lot and leverage rules.
        imfFunction:
          description: IMF function.
          allOf:
          - $ref: '#/components/schemas/PositionImfFunction'
          - description: IMF function.
        mmfFunction:
          description: MMF function.
          allOf:
          - $ref: '#/components/schemas/PositionImfFunction'
          - description: MMF function.
        fundingInterval:
          type: integer
          format: uint64
          description: Funding interval for perpetuals in milliseconds.
        fundingRateUpperBound:
          type: string
          format: decimal
          description: 'Funding rate upper bound for perpetual markets. In basis points. E.g. 10

            = 10bps'
        fundingRateLowerBound:
          type: string
          format: decimal
          description: 'Funding rate lower bound for perpetual markets. In basis points. E.g.

            -10 = -10bps'
        openInterestLimit:
          type: string
          format: decimal
          description: Maximum open interest limit for the market if the market is a future.
        orderBookState:
          description: The order book state.
          allOf:
          - $ref: '#/components/schemas/OrderBookState'
          - description: The order book state.
        createdAt:
          type: string
          format: naive-date-time
          description: Market created at time.
        visible:
          type: boolean
          description: Market currently visible.
        positionLimitWeight:
          type: string
          format: decimal
          description: 'Position limit weight coefficient.

            Used to calculate position limits when clearing a trade.'
    CustodyAsset:
      type: string
      enum:
      - BTC
      - ETH
      - SOL
      - USDC
      - USDT
      - PYTH
      - JTO
      - BONK
      - HNT
      - MOBILE
      - WIF
      - JUP
      - RENDER
      - WEN
      - W
      - TNSR
      - PRCL
      - SHARK
      - KMNO
      - MEW
      - BOME
      - RAY
      - HONEY
      - SHFL
      - BODEN
      - IO
      - DRIFT
      - PEPE
      - SHIB
      - LINK
      - UNI
      - ONDO
      - FTM
      - MATIC
      - STRK
      - BLUR
      - WLD
      - GALA
      - NYAN
      - HLG
      - MON
      - ZKJ
      - MANEKI
      - HABIBI
      - UNA
      - ZRO
      - ZEX
      - AAVE
      - LDO
      - MOTHER
      - CLOUD
      - MAX
      - POL
      - TRUMPWIN
      - HARRISWIN
      - MOODENG
      - DBR
      - GOAT
      - ACT
      - DOGE
      - BCH
      - LTC
      - APE
      - ENA
      - ME
      - EIGEN
      - CHILLGUY
      - PENGU
      - EUR
      - SONIC
      - J
      - TRUMP
      - MELANIA
      - ANIME
      - XRP
      - SUI
      - VINE
      - ADA
      - MOVE
      - BERA
      - IP
      - HYPE
      - BNB
      - KAITO
      - kPEPE
      - kBONK
      - kSHIB
      - AVAX
      - S
      - POINTS
      - ROAM
      - AI16Z
      - LAYER
      - FARTCOIN
      - NEAR
      - PNUT
      - ARB
      - DOT
      - APT
      - OP
      - PYUSD
      - HUMA
      - WAL
      - DEEP
      - CETUS
      - SEND
      - BLUE
      - NS
      - HAEDAL
      - JPY
      - TAO
      - VIRTUAL
      - TIA
      - TRX
      - FRAG
      - PUMP
      - WCT
      - ES
      - SEI
      - CRV
      - TON
      - HBAR
      - XLM
      - ZORA
      - WLFI
      - BPEUR
      - SWTCH
      - LINEA
      - XPL
      - BARD
      - FLOCK
      - AVNT
      - PENDLE
      - AERO
      - ASTER
      - GLXY
      - 0G
      - 2Z
      - FWDI
      - ZEUS
      - APEX
      - EDEN
      - FF
      - ORDER
      - MNT
      - ZEC
      - PAXG
      - MORPHO
      - ATH
      - KGEN
      - XAUT
      - FOGO
      - SPX
      - ETHFI
      - APR
      - PIPE
      - MET
      - MONP
      - STABLE
      - GUSDT
      - BTCD121025
      - BTCD121125
      - BTCD121225
      - SOLWP011526A160
      - SOLD121125
      - SOLD121225
      - BTCW12122590000
      - BTCW12122591000
      - BTCW12122592000
      - BTCW12122593000
      - BTCW12122594000
      - BTCW12122595000
      - BTCW121225100000
      - SOLW121225140000
      - SOLW121225145000
      - SOLW121225150000
      - SOLW121225155000
      - SOLW121225160000
      - SOLW121225165000
      - SOLW121225170000
      - BTCM1225130000
      - BTCM1225140000
      - BTCM1225150000
      - BTCM1225160000
      - BTCM1225170000
      - BTCM1225200000
      - BTCM1225500000
      - BTCM12251000000
      - SOLDUD011226
      - BTCDUD011326
      - SOLDUD011326
      - BTCDUD011426
      - SOLDUD011426
      - BTCDUD011526
      - SOLDUD011526
      - SOLWP011526U120
      - SOLWP011526T120
      - SOLWP011526T130
      - SOLWP011526T140
      - SOLWP011526T150
      - DEMS28NEWSOM
      - DEMS28AOC
      - DEMS28BUTTIGIEG
      - DEMS28SHAPIRO
      - DEMS28KELLY
      - DEMS28OSSOFF
      - DEMS28KAMALA
      - DEMS28MOORE
      - DEMS28PRITZKER
      - DEMS28BESHEAR
      - DEMS28WHITMER
      - DEMS28THEROCK
      - DEMS28EMANUEL
      - DEMS28MAMDANI
      - LIT
      - FOMC0126H0
      - FOMC0126C25
      - FOMC0126C50P
      - FOMC0126H25P
      - BTCWP011526U84
      - BTCWP011526T84
      - BTCWP011526T89
      - BTCWP011526T94
      - BTCWP011526T99
      - BTCWP011526A104
      - BTCDUD011026
      - SOLDUD011026
      - BTCDUD011126
      - SOLDUD011126
      - BTCDUD011226
      - WHITEWHALE
      - INX
      - SKR
      - XMR
      - BTCWP011626T1
      - BTCWP011626T2
      - BTCWP011626T3
      - BTCWP011626T4
      - BTCWP011626T5
      - BTCWP011626T6
      - BTCWP011626T7
      - BTCWP011626T8
      - BTCWP011726T1
      - BTCWP011726T2
      - BTCWP011726T3
      - BTCWP011726T4
      - BTCWP011726T5
      - BTCWP011726T6
      - BTCWP011726T7
      - BTCWP011726T8
      - BTCWP011826T1
      - BTCWP011826T2
      - BTCWP011826T3
      - BTCWP011826T4
      - BTCWP011826T5
      - BTCWP011826T6
      - BTCWP011826T7
      - BTCWP011826T8
      - BTCWP011926T1
      - BTCWP011926T2
      - BTCWP011926T3
      - BTCWP011926T4
      - BTCWP011926T5
      - BTCWP011926T6
      - BTCWP011926T7
      - BTCWP011926T8
      - BTCWP012026T1
      - BTCWP012026T2
      - BTCWP012026T3
      - BTCWP012026T4
      - BTCWP012026T5
      - BTCWP012026T6
      - BTCWP012026T7
      - BTCWP012026T8
      - BTCWP012126T1
      - BTCWP012126T2
      - BTCWP012126T3
      - BTCWP012126T4
      - BTCWP012126T5
      - BTCWP012126T6
      - BTCWP012126T7
      - BTCWP012126T8
      - BTCWP012226T1
      - BTCWP012226T2
      - BTCWP012226T3
      - BTCWP012226T4
      - BTCWP012226T5
      - BTCWP012226T6
      - BTCWP012226T7
      - BTCWP012226T8
      - BTCWP012326T1
      - BTCWP012326T2
      - BTCWP012326T3
      - BTCWP012326T4
      - BTCWP012326T5
      - BTCWP012326T6
      - BTCWP012326T7
      - BTCWP012326T8
      - BTCWMS011626T1
      - BTCWMS011626T2
      - BTCWMS011626T3
      - BTCWMS011626T4
      - BTCWMS011626T5
      - BTCWMS011626T6
      - BTCWMS011626T7
      - BTCWMS011626T8
      - BTCWMS011726T1
      - BTCWMS011726T2
      - BTCWMS011726T3
      - BTCWMS011726T4
      - BTCWMS011726T5
      - BTCWMS011726T6
      - BTCWMS011726T7
      - BTCWMS011726T8
      - BTCWMS011826T1
      - BTCWMS011826T2
      - BTCWMS011826T3
      - BTCWMS011826T4
      - BTCWMS011826T5
      - BTCWMS011826T6
      - BTCWMS011826T7
      - BTCWMS011826T8
      - BTCWMS011926T1
      - BTCWMS011926T2
      - BTCWMS011926T3
      - BTCWMS011926T4
      - BTCWMS011926T5
      - BTCWMS011926T6
      - BTCWMS011926T7
      - BTCWMS011926T8
      - BTCWMS012026T1
      - BTCWMS012026T2
      - BTCWMS012026T3
      - BTCWMS012026T4
      - BTCWMS012026T5
      - BTCWMS012026T6
      - BTCWMS012026T7
      - BTCWMS012026T8
      - BTCWMS012126T1
      - BTCWMS012126T2
      - BTCWMS012126T3
      - BTCWMS012126T4
      - BTCWMS012126T5
      - BTCWMS012126T6
      - BTCWMS012126T7
      - BTCWMS012126T8
      - BTCWMS012226T1
      - BTCWMS012226T2
      - BTCWMS012226T3
      - BTCWMS012226T4
      - BTCWMS012226T5
      - BTCWMS012226T6
      - BTCWMS012226T7
      - BTCWMS012226T8
      - BTCWMS012326T1
      - BTCWMS012326T2
      - BTCWMS012326T3
      - BTCWMS012326T4
      - BTCWMS012326T5
      - BTCWMS012326T6
      - BTCWMS012326T7
      - BTCWMS012326T8
      - SOLWP011626T1
      - SOLWP011626T2
      - SOLWP011626T3
      - SOLWP011626T4
      - SOLWP011626T5
      - SOLWP011726T1
      - SOLWP011726T2
      - SOLWP011726T3
      - SOLWP011726T4
      - SOLWP011726T5
      - SOLWP011826T1
      - SOLWP011826T2
      - SOLWP011826T3
      - SOLWP011826T4
      - SOLWP011826T5
      - SOLWP011926T1
      - SOLWP011926T2
      - SOLWP011926T3
      - SOLWP011926T4
      - SOLWP011926T5
      - SOLWP012026T1
      - SOLWP012026T2
      - SOLWP012026T3
      - SOLWP012026T4
      - SOLWP012026T5
      - SOLWP012126T1
      - SOLWP012126T2
      - SOLWP012126T3
      - SOLWP012126T4
      - SOLWP012126T5
      - SOLWP012226T1
      - SOLWP012226T2
      - SOLWP012226T3
      - SOLWP012226T4
      - SOLWP012226T5
      - SOLWP012326T1
      - SOLWP012326T2
      - SOLWP012326T3
      - SOLWP012326T4
      - SOLWP012326T5
      - SOLWMS011626T1
      - SOLWMS011626T2
      - SOLWMS011626T3
      - SOLWMS011626T4
      - SOLWMS011626T5
      - SOLWMS011726T1
      - SOLWMS011726T2
      - SOLWMS011726T3
      - SOLWMS011726T4
      - SOLWMS011726T5
      - SOLWMS011826T1
      - SOLWMS011826T2
      - SOLWMS011826T3
      - SOLWMS011826T4
      - SOLWMS011826T5
      - SOLWMS011926T1
      - SOLWMS011926T2
      - SOLWMS011926T3
      - SOLWMS011926T4
      - SOLWMS011926T5
      - SOLWMS012026T1
      - SOLWMS012026T2
      - SOLWMS012026T3
      - SOLWMS012026T4
      - SOLWMS012026T5
      - SOLWMS012126T1
      - SOLWMS012126T2
      - SOLWMS012126T3
      - SOLWMS012126T4
      - SOLWMS012126T5
      - SOLWMS012226T1
      - SOLWMS012226T2
      - SOLWMS012226T3
      - SOLWMS012226T4
      - SOLWMS012226T5
      - SOLWMS012326T1
      - SOLWMS012326T2
      - SOLWMS012326T3
      - SOLWMS012326T4
      - SOLWMS012326T5
      - ETHWP011626T1
      - ETHWP011626T2
      - ETHWP011626T3
      - ETHWP011626T4
      - ETHWP011626T5
      - ETHWP011626T6
      - ETHWP011626T7
      - ETHWP011626T8
      - ETHWP011726T1
      - ETHWP011726T2
      - ETHWP011726T3
      - ETHWP011726T4
      - ETHWP011726T5
      - ETHWP011726T6
      - ETHWP011726T7
      - ETHWP011726T8
      - ETHWP011826T1
      - ETHWP011826T2
      - ETHWP011826T3
      - ETHWP011826T4
      - ETHWP011826T5
      - ETHWP011826T6
      - ETHWP011826T7
      - ETHWP011826T8
      - ETHWP011926T1
      - ETHWP011926T2
      - ETHWP011926T3
      - ETHWP011926T4
      - ETHWP011926T5
      - ETHWP011926T6
      - ETHWP011926T7
      - ETHWP011926T8
      - ETHWP012026T1
      - ETHWP012026T2
      - ETHWP012026T3
      - ETHWP012026T4
      - ETHWP012026T5
      - ETHWP012026T6
      - ETHWP012026T7
      - ETHWP012026T8
      - ETHWP012126T1
      - ETHWP012126T2
      - ETHWP012126T3
      - ETHWP012126T4
      - ETHWP012126T5
      - ETHWP012126T6
      - ETHWP012126T7
      - ETHWP012126T8
      - ETHWP012226T1
      - ETHWP012226T2
      - ETHWP012226T3
      - ETHWP012226T4
      - ETHWP012226T5
      - ETHWP012226T6
      - ETHWP012226T7
      - ETHWP012226T8
      - ETHWP012326T1
      - ETHWP012326T2
      - ETHWP012326T3
      - ETHWP012326T4
      - ETHWP012326T5
      - ETHWP012326T6
      - ETHWP012326T7
      - ETHWP012326T8
      - ETHWMS011626T1
      - ETHWMS011626T2
      - ETHWMS011626T3
      - ETHWMS011626T4
      - ETHWMS011626T5
      - ETHWMS011626T6
      - ETHWMS011626T7
      - ETHWMS011626T8
      - ETHWMS011726T1
      - ETHWMS011726T2
      - ETHWMS011726T3
      - ETHWMS011726T4
      - ETHWMS011726T5
      - ETHWMS011726T6
      - ETHWMS011726T7
      - ETHWMS011726T8
      - ETHWMS011826T1
      - ETHWMS011826T2
      - ETHWMS011826T3
      - ETHWMS011826T4
      - ETHWMS011826T5
      - ETHWMS011826T6
      - ETHWMS011826T7
      - ETHWMS011826T8
      - ETHWMS011926T1
      - ETHWMS011926T2
      - ETHWMS011926T3
      - ETHWMS011926T4
      - ETHWMS011926T5
      - ETHWMS011926T6
      - ETHWMS011926T7
      - ETHWMS011926T8
      - ETHWMS012026T1
      - ETHWMS012026T2
      - ETHWMS012026T3
      - ETHWMS012026T4
      - ETHWMS012026T5
      - ETHWMS012026T6
      - ETHWMS012026T7
      - ETHWMS012026T8
      - ETHWMS012126T1
      - ETHWMS012126T2
      - ETHWMS012126T3
      - ETHWMS012126T4
      - ETHWMS012126T5
      - ETHWMS012126T6
      - ETHWMS012126T7
      - ETHWMS012126T8
      - ETHWMS012226T1
      - ETHWMS012226T2
      - ETHWMS012226T3
      - ETHWMS012226T4
      - ETHWMS012226T5
      - ETHWMS012226T6
      - ETHWMS012226T7
      - ETHWMS012226T8
      - ETHWMS012326T1
      - ETHWMS012326T2
      - ETHWMS012326T3
      - ETHWMS012326T4
      - ETHWMS012326T5
      - ETHWMS012326T6
      - ETHWMS012326T7
      - ETHWMS012326T8
      - BTCDUD011626
      - BTCDUD011726
      - BTCDUD011826
      - BTCDUD011926
      - BTCDUD012026
      - BTCDUD012126
      - BTCDUD012226
      - BTCDUD012326
      - SOLDUD011626
      - SOLDUD011726
      - SOLDUD011826
      - SOLDUD011926
      - SOLDUD012026
      - SOLDUD012126
      - SOLDUD012226
      - SOLDUD012326
      - ETHDUD011626
      - ETHDUD011726
      - ETHDUD011826
      - ETHDUD011926
      - ETHDUD012026
      - ETHDUD012126
      - ETHDUD012226
      - ETHDUD012326
      - FDVEDGEX1B
      - FDVEDGEX2B
      - FDVEDGEX3B
      - FDVEDGEX4B
      - FDVEDGEX5B
      - FDVEXTD300M
      - FDVEXTD500M
      - FDVEXTD800M
      - FDVEXTD1B
      - FDVEXTD2B
      - FDVEXTD3B
      - FDVPARA300M
      - FDVPARA500M
      - FDVPARA750M
      - FDVPARA1N5B
      - FDVPARA3B
      - FDVPARA5B
      - FDVINX200M
      - FDVINX300M
      - FDVINX400M
      - FDVINX600M
      - FDVINX800M
      - FDVINX1B
      - FDVVAR500M
      - FDVVAR800M
      - FDVVAR1B
      - FDVVAR2B
      - FDVVAR3B
      - FDVVAR4B
      - FDVVAR5B
      - NBA26HA012026H
      - NBA26HA012026A
      - NBA26HA012026HN2
      - NBA26HA012026AP2
      - NBA26HA012026TTLO222
      - NBA26HA012026TTLU222
      - NBA26HA012026P1O30
      - NBA26HA012026P1U30
      - NHL26HA012026H
      - NHL26HA012026A
      - NHL26HA012026HN2
      - NHL26HA012026AP2
      - NHL26HA012026TTLO4
      - NHL26HA012026TTLU4
      - NHL26HA012026P1O2
      - NHL26HA012026P1U2
      - CC
      - DASH
      - AXS
      - BTCWP012626T1
      - BTCWP012626T2
      - BTCWP012626T3
      - BTCWP012626T4
      - BTCWP012626T5
      - BTCWP012626T6
      - BTCWP012626T7
      - BTCWP012626T8
      - BTCWP012826T1
      - BTCWP012826T2
      - BTCWP012826T3
      - BTCWP012826T4
      - BTCWP012826T5
      - BTCWP012826T6
      - BTCWP012826T7
      - BTCWP012826T8
      - BTCWP013026T1
      - BTCWP013026T2
      - BTCWP013026T3
      - BTCWP013026T4
      - BTCWP013026T5
      - BTCWP013026T6
      - BTCWP013026T7
      - BTCWP013026T8
      - BTCWP020226T1
      - BTCWP020226T2
      - BTCWP020226T3
      - BTCWP020226T4
      - BTCWP020226T5
      - BTCWP020226T6
      - BTCWP020226T7
      - BTCWP020226T8
      - BTCWP020426T1
      - BTCWP020426T2
      - BTCWP020426T3
      - BTCWP020426T4
      - BTCWP020426T5
      - BTCWP020426T6
      - BTCWP020426T7
      - BTCWP020426T8
      - BTCWP020626T1
      - BTCWP020626T2
      - BTCWP020626T3
      - BTCWP020626T4
      - BTCWP020626T5
      - BTCWP020626T6
      - BTCWP020626T7
      - BTCWP020626T8
      - SOLWP012626T1
      - SOLWP012626T2
      - SOLWP012626T3
      - SOLWP012626T4
      - SOLWP012626T5
      - SOLWP012626T6
      - SOLWP012826T1
      - SOLWP012826T2
      - SOLWP012826T3
      - SOLWP012826T4
      - SOLWP012826T5
      - SOLWP012826T6
      - SOLWP013026T1
      - SOLWP013026T2
      - SOLWP013026T3
      - SOLWP013026T4
      - SOLWP013026T5
      - SOLWP013026T6
      - SOLWP020226T1
      - SOLWP020226T2
      - SOLWP020226T3
      - SOLWP020226T4
      - SOLWP020226T5
      - SOLWP020226T6
      - SOLWP020426T1
      - SOLWP020426T2
      - SOLWP020426T3
      - SOLWP020426T4
      - SOLWP020426T5
      - SOLWP020426T6
      - SOLWP020626T1
      - SOLWP020626T2
      - SOLWP020626T3
      - SOLWP020626T4
      - SOLWP020626T5
      - SOLWP020626T6
      - ETHWP012626T1
      - ETHWP012626T2
      - ETHWP012626T3
      - ETHWP012626T4
      - ETHWP012626T5
      - ETHWP012626T6
      - ETHWP012626T7
      - ETHWP012626T8
      - ETHWP012826T1
      - ETHWP012826T2
      - ETHWP012826T3
      - ETHWP012826T4
      - ETHWP012826T5
      - ETHWP012826T6
      - ETHWP012826T7
      - ETHWP012826T8
      - ETHWP013026T1
      - ETHWP013026T2
      - ETHWP013026T3
      - ETHWP013026T4
      - ETHWP013026T5
      - ETHWP013026T6
      - ETHWP013026T7
      - ETHWP013026T8
      - ETHWP020226T1
      - ETHWP020226T2
      - ETHWP020226T3
      - ETHWP020226T4
      - ETHWP020226T5
      - ETHWP020226T6
      - ETHWP020226T7
      - ETHWP020226T8
      - ETHWP020426T1
      - ETHWP020426T2
      - ETHWP020426T3
      - ETHWP020426T4
      - ETHWP020426T5
      - ETHWP020426T6
      - ETHWP020426T7
      - ETHWP020426T8
      - ETHWP020626T1
      - ETHWP020626T2
      - ETHWP020626T3
      - ETHWP020626T4
      - ETHWP020626T5
      - ETHWP020626T6
      - ETHWP020626T7
      - ETHWP020626T8
      - BTCDUD012426
      - BTCDUD012526
      - BTCDUD012626
      - BTCDUD012726
      - BTCDUD012826
      - BTCDUD012926
      - BTCDUD013026
      - BTCDUD013126
      - BTCDUD020126
      - BTCDUD020226
      - BTCDUD020326
      - BTCDUD020426
      - BTCDUD020526
      - BTCDUD020626
      - SOLDUD012426
      - SOLDUD012526
      - SOLDUD012626
      - SOLDUD012726
      - SOLDUD012826
      - SOLDUD012926
      - SOLDUD013026
      - SOLDUD013126
      - SOLDUD020126
      - SOLDUD020226
      - SOLDUD020326
      - SOLDUD020426
      - SOLDUD020526
      - SOLDUD020626
      - ETHDUD012426
      - ETHDUD012526
      - ETHDUD012626
      - ETHDUD012726
      - ETHDUD012826
      - ETHDUD012926
      - ETHDUD013026
      - ETHDUD013126
      - ETHDUD020126
      - ETHDUD020226
      - ETHDUD020326
      - ETHDUD020426
      - ETHDUD020526
      - ETHDUD020626
      - XRPUD012426
      - XRPUD012526
      - XRPUD012626
      - XRPUD012726
      - XRPUD012826
      - XRPUD012926
      - XRPUD013026
      - XRPUD013126
      - XRPUD020126
      - XRPUD020226
      - XRPUD020326
      - XRPUD020426
      - XRPUD020526
      - XRPUD020626
      - BNBUD012426
      - BNBUD012526
      - BNBUD012626
      - BNBUD012726
      - BNBUD012826
      - BNBUD012926
      - BNBUD013026
      - BNBUD013126
      - BNBUD020126
      - BNBUD020226
      - BNBUD020326
      - BNBUD020426
      - BNBUD020526
      - BNBUD020626
      - ZAMA
      - MEGA
      - RNBW
      - BLT
      - BP
      - AZTEC
      - RIVER
      - GRASS
      - VVV
      - OPN
      - AAPL.US
      - MSFT.US
      - NVDA.US
      - AMZN.US
      - GOOGL.US
      - META.US
      - TSLA.US
      - AVGO.US
      - LLY.US
      - JPM.US
      - EDGE
      - GOOG.US
      - WMT.US
      - BRK.B.US
      - SPY.US
      - QQQ.US
      - GLD.US
      - COIN.US
      - STRC.US
      - A.US
      - ABBV.US
      - ABNB.US
      - ABT.US
      - ACGL.US
      - ACN.US
      - ADBE.US
      - ADI.US
      - ADM.US
      - ADP.US
      - ADSK.US
      - AEE.US
      - AEP.US
      - AES.US
      - AFL.US
      - AIG.US
      - AIZ.US
      - AJG.US
      - AKAM.US
      - ALB.US
      - ALGN.US
      - ALL.US
      - ALLE.US
      - AMAT.US
      - AMCR.US
      - AMD.US
      - AME.US
      - AMGN.US
      - AMP.US
      - AMT.US
      - ANET.US
      - AON.US
      - AOS.US
      - APA.US
      - APD.US
      - APH.US
      - APO.US
      - APP.US
      - APTV.US
      - ARE.US
      - ARES.US
      - ATO.US
      - AVB.US
      - AVY.US
      - AWK.US
      - AXON.US
      - AXP.US
      - AZO.US
      - BA.US
      - BAC.US
      - BALL.US
      - BAX.US
      - BBY.US
      - BDX.US
      - BEN.US
      - BF.B.US
      - BG.US
      - BIIB.US
      - BK.US
      - BKNG.US
      - BKR.US
      - BLDR.US
      - BLK.US
      - BMY.US
      - BR.US
      - BRO.US
      - BSX.US
      - BX.US
      - BXP.US
      - C.US
      - CAG.US
      - CAH.US
      - CARR.US
      - CASY.US
      - CAT.US
      - CB.US
      - CBOE.US
      - CBRE.US
      - CCI.US
      - CCL.US
      - CDNS.US
      - CDW.US
      - CEG.US
      - CF.US
      - CFG.US
      - CHD.US
      - CHRW.US
      - CHTR.US
      - CI.US
      - CIEN.US
      - CINF.US
      - CL.US
      - CLX.US
      - CMCSA.US
      - CME.US
      - CMG.US
      - CMI.US
      - CMS.US
      - CNC.US
      - CNP.US
      - COF.US
      - COHR.US
      - COO.US
      - COP.US
      - COR.US
      - COST.US
      - CPAY.US
      - CPB.US
      - CPRT.US
      - CPT.US
      - CRH.US
      - CRL.US
      - CRM.US
      - CRWD.US
      - CSCO.US
      - CSGP.US
      - CSX.US
      - CTAS.US
      - CTRA.US
      - CTSH.US
      - CTVA.US
      - CVNA.US
      - CVS.US
      - CVX.US
      - D.US
      - DAL.US
      - DASH.US
      - DD.US
      - DDOG.US
      - DE.US
      - DECK.US
      - DELL.US
      - DG.US
      - DGX.US
      - DHI.US
      - DHR.US
      - DIS.US
      - DLR.US
      - DLTR.US
      - DOC.US
      - DOV.US
      - DOW.US
      - DPZ.US
      - DRI.US
      - DTE.US
      - DUK.US
      - DVA.US
      - DVN.US
      - DXCM.US
      - EA.US
      - EBAY.US
      - ECL.US
      - ED.US
      - EFX.US
      - EG.US
      - EIX.US
      - EL.US
      - ELV.US
      - EME.US
      - EMR.US
      - EOG.US
      - EPAM.US
      - EQIX.US
      - EQR.US
      - EQT.US
      - ERIE.US
      - ES.US
      - ESS.US
      - ETN.US
      - ETR.US
      - EVRG.US
      - EW.US
      - EXC.US
      - EXE.US
      - EXPD.US
      - EXPE.US
      - EXR.US
      - F.US
      - FANG.US
      - FAST.US
      - FCX.US
      - FDS.US
      - FDX.US
      - FE.US
      - FFIV.US
      - FICO.US
      - FIS.US
      - FISV.US
      - FITB.US
      - FIX.US
      - FOX.US
      - FOXA.US
      - FRT.US
      - FSLR.US
      - FTNT.US
      - FTV.US
      - GD.US
      - GDDY.US
      - GE.US
      - GEHC.US
      - GEN.US
      - GEV.US
      - GILD.US
      - GIS.US
      - GL.US
      - GLW.US
      - GM.US
      - GNRC.US
      - GPC.US
      - GPN.US
      - GRMN.US
      - GS.US
      - GWW.US
      - HAL.US
      - HAS.US
      - HBAN.US
      - HCA.US
      - HD.US
      - HIG.US
      - HII.US
      - HLT.US
      - HON.US
      - HOOD.US
      - HPE.US
      - HPQ.US
      - HRL.US
      - HSIC.US
      - HST.US
      - HSY.US
      - HUBB.US
      - HUM.US
      - HWM.US
      - IBKR.US
      - IBM.US
      - ICE.US
      - IDXX.US
      - IEX.US
      - IFF.US
      - INCY.US
      - INTC.US
      - INTU.US
      - INVH.US
      - IP.US
      - IQV.US
      - IR.US
      - IRM.US
      - ISRG.US
      - IT.US
      - ITW.US
      - IVZ.US
      - J.US
      - JBHT.US
      - JBL.US
      - JCI.US
      - JKHY.US
      - JNJ.US
      - KDP.US
      - KEY.US
      - KEYS.US
      - KHC.US
      - KIM.US
      - KKR.US
      - KLAC.US
      - KMB.US
      - KMI.US
      - KO.US
      - KR.US
      - KVUE.US
      - L.US
      - LDOS.US
      - LEN.US
      - LH.US
      - LHX.US
      - LII.US
      - LIN.US
      - LITE.US
      - LMT.US
      - LNT.US
      - LOW.US
      - LRCX.US
      - LULU.US
      - LUV.US
      - LVS.US
      - LYB.US
      - LYV.US
      - MA.US
      - MAA.US
      - MAR.US
      - MAS.US
      - MCD.US
      - MCHP.US
      - MCK.US
      - MCO.US
      - MDLZ.US
      - MDT.US
      - MET.US
      - MGM.US
      - MKC.US
      - MLM.US
      - MMM.US
      - MNST.US
      - MO.US
      - MOS.US
      - MPC.US
      - MPWR.US
      - MRK.US
      - MRNA.US
      - MRSH.US
      - MS.US
      - MSCI.US
      - MSI.US
      - MTB.US
      - MTD.US
      - MU.US
      - NCLH.US
      - NDAQ.US
      - NDSN.US
      - NEE.US
      - NEM.US
      - NFLX.US
      - NI.US
      - NKE.US
      - NOC.US
      - NOW.US
      - NRG.US
      - NSC.US
      - NTAP.US
      - NTRS.US
      - NUE.US
      - NVR.US
      - NWS.US
      - NWSA.US
      - NXPI.US
      - O.US
      - ODFL.US
      - OKE.US
      - OMC.US
      - ON.US
      - ORCL.US
      - ORLY.US
      - OTIS.US
      - OXY.US
      - PANW.US
      - PAYX.US
      - PCAR.US
      - PCG.US
      - PEG.US
      - PEP.US
      - PFE.US
      - PFG.US
      - PG.US
      - PGR.US
      - PH.US
      - PHM.US
      - PKG.US
      - PLD.US
      - PLTR.US
      - PM.US
      - PNC.US
      - PNR.US
      - PNW.US
      - PODD.US
      - POOL.US
      - PPG.US
      - PPL.US
      - PRU.US
      - PSA.US
      - PSKY.US
      - PSX.US
      - PTC.US
      - PWR.US
      - PYPL.US
      - Q.US
      - QCOM.US
      - RCL.US
      - REG.US
      - REGN.US
      - RF.US
      - RJF.US
      - RL.US
      - RMD.US
      - ROK.US
      - ROL.US
      - ROP.US
      - ROST.US
      - RSG.US
      - RTX.US
      - RVTY.US
      - SATS.US
      - SBAC.US
      - SBUX.US
      - SCHW.US
      - SHW.US
      - SJM.US
      - SLB.US
      - SMCI.US
      - SNA.US
      - SNDK.US
      - SNPS.US
      - SO.US
      - SOLV.US
      - SPG.US
      - SPGI.US
      - SRE.US
      - STE.US
      - STLD.US
      - STT.US
      - STX.US
      - STZ.US
      - SW.US
      - SWK.US
      - SWKS.US
      - SYF.US
      - SYK.US
      - SYY.US
      - T.US
      - TAP.US
      - TDG.US
      - TDY.US
      - TECH.US
      - TEL.US
      - TER.US
      - TFC.US
      - TGT.US
      - TJX.US
      - TKO.US
      - TMO.US
      - TMUS.US
      - TPL.US
      - TPR.US
      - TRGP.US
      - TRMB.US
      - TROW.US
      - TRV.US
      - TSCO.US
      - TSN.US
      - TT.US
      - TTD.US
      - TTWO.US
      - TXN.US
      - TXT.US
      - TYL.US
      - UAL.US
      - UBER.US
      - UDR.US
      - UHS.US
      - ULTA.US
      - UNH.US
      - UNP.US
      - UPS.US
      - URI.US
      - USB.US
      - V.US
      - VICI.US
      - VLO.US
      - VLTO.US
      - VMC.US
      - VRSK.US
      - VRSN.US
      - VRT.US
      - VRTX.US
      - VST.US
      - VTR.US
      - VTRS.US
      - VZ.US
      - WAB.US
      - WAT.US
      - WBD.US
      - WDAY.US
      - WDC.US
      - WEC.US
      - WELL.US
      - WFC.US
      - WM.US
      - WMB.US
      - WRB.US
      - WSM.US
      - WST.US
      - WTW.US
      - WY.US
      - WYNN.US
      - XEL.US
      - XOM.US
      - XYL.US
      - XYZ.US
      - YUM.US
      - ZBH.US
      - ZBRA.US
      - ZTS.US
      - EURC
      - CHIP
      - BILL
      - VOO.US
      - IVV.US
      - VTI.US
      - VEA.US
      - VUG.US
      - IEFA.US
      - VTV.US
      - IEMG.US
      - BND.US
      - VXUS.US
      - SPYM.US
      - AGG.US
      - VGT.US
      - IWF.US
      - VWO.US
      - IJH.US
      - XLK.US
      - VIG.US
      - IJR.US
      - VO.US
      - SCHD.US
      - ITOT.US
      - RSP.US
      - SGOV.US
      - QQQM.US
      - IWM.US
      - BNDX.US
      - VYM.US
      - VB.US
      - EFA.US
      - IWD.US
      - VT.US
      - IVW.US
      - IAU.US
      - SCHX.US
      - IBIT.US
      - VCIT.US
      - VEU.US
      - SCHF.US
      - SMH.US
      - IXUS.US
      - SCHG.US
      - IWR.US
      - XLF.US
      - VV.US
      - SPYG.US
      - QUAL.US
      - IVE.US
      - IEF.US
      - IWB.US
      - BIL.US
      - JEPI.US
      - DFAC.US
      - BSV.US
      - MUB.US
      - VTEB.US
      - VONG.US
      - TLT.US
      - XLE.US
      - DIA.US
      - VCSH.US
      - SCHB.US
      - GOVT.US
      - VGIT.US
      - DGRO.US
      - SPDW.US
      - MBB.US
      - JEPQ.US
      - JPST.US
      - XLV.US
      - VNQ.US
      - IUSB.US
      - SLV.US
      - VBR.US
      - DYNF.US
      - SPYV.US
      - CGDV.US
      - MGK.US
      - TQQQ.US
      - ACWI.US
      - SOXX.US
      - GLDM.US
      - IUSG.US
      - XLI.US
      - EFV.US
      - VGK.US
      - LQD.US
      - IDEV.US
      - VGSH.US
      - EEM.US
      - VXF.US
      - BIV.US
      - JAAA.US
      - USHY.US
      - AVUV.US
      - MDY.US
      - GDX.US
      - TZA.US
      - BMNU.US
      - BITO.US
      - SOXS.US
      - SOXL.US
      - TSLL.US
      - NVD.US
      - SPDN.US
      - SQQQ.US
      - PLTD.US
      - UVIX.US
      - HYG.US
      - TSLG.US
      - SCO.US
      - MSTU.US
      - ETHA.US
      - USO.US
      - EWZ.US
      - TSDD.US
      - DRIP.US
      - FXI.US
      - IGV.US
      - XLU.US
      - KWEB.US
      - RWM.US
      - EWY.US
      - QID.US
      - BKLN.US
      - CONL.US
      - MSTZ.US
      - AMDD.US
      - KRE.US
      - XLP.US
      - GGLS.US
      - SPXS.US
      - BTCZ.US
      - XLB.US
      - NVDX.US
      - PSLV.US
      - SH.US
      - AMDL.US
      - BITX.US
      - BOIL.US
      - VXX.US
      - ZSL.US
      - AMZD.US
      - TSLQ.US
      - UNG.US
      - PSQ.US
      - TNA.US
      - XLY.US
      - ARKK.US
      - EMB.US
      - UCO.US
      - SNXX.US
      - PDBC.US
      - EWJ.US
      - QYLD.US
      - NVDL.US
      - XLRE.US
      - XLC.US
      - EWA.US
      - EWU.US
      - EWQ.US
      - EWW.US
      - EPI.US
      - DRAM.US
      - AIQ.US
      - UFO.US
      - MARS.US
      - URA.US
      - ARKX.US
      - EWC.US
      - EWT.US
      - UVXY.US
      - GEMI.US
      - CRCL.US
      - IREN.US
      - NVTS.US
      - ASML.US
      - SHEL.US
      - TSM.US
      - ARM.US
      - SNOW.US
      - CRWV.US
      - MSTR.US
      - TCEHY.US
      - BABA.US
      - AZN.US
      - TM.US
      - NVO.US
      - SAP.US
      - SPOT.US
      - PDD.US
      - NTES.US
      - JD.US
      - BIDU.US
      - SFTBY.US
      - MUFG.US
      - SONY.US
      - KORU.US
      - PGJ.US
      - YINN.US
      - CQQQ.US
      - MCHI.US
      - BNO.US
      - URNM.US
      - CPER.US
      - TIP.US
      - INDA.US
      - COPX.US
      - BAI.US
      - SHLD.US
      - PAVE.US
      - BOTZ.US
      - QTUM.US
      - CIBR.US
      - DTCR.US
      - CBRS.US
      - CBRG.US
      - SCBR.US
      - GPUX.US
      - LYTE.US
      - THYP.US
      - BHYP.US
      - SPCX.US
      - BWGC.US
      - RIKU.US
      - HACK.US
      - BUG.US
      - ARKG.US
      - EMXC.US
      - ITA.US
      - SRVR.US
      - GRID.US
      - EWH.US
      - NLR.US
      - FUTU.US
    KlinePriceType:
      type: string
      enum:
      - Last
      - Index
      - Mark
    QuantityFilter:
      type: object
      title: QuantityFilter
      required:
      - minQuantity
      - stepSize
      properties:
        minQuantity:
          type: string
          format: decimal
          description: 'Minimum quantity the order book will allow.


            For futures, this will be the threshold at which a position gets closed

            and so it should be as close as possible, preferably equal, to the

            `step_size`.'
        maxQuantity:
          type: string
          format: decimal
          description: Maximum quantity the order book will allow.
        stepSize:
          type: string
          format: decimal
          description: Quantity increment.
    OrderBookState:
      type: string
      enum:
      - Open
      - Closed
      - CancelOnly
      - LimitOnly
      - PostOnly
    PriceBandMeanPremium:
      type: object
      title: PriceBandMeanPremium
      required:
      - tolerancePct
      properties:
        tolerancePct:
          type: string
          format: decimal
          description: 'Maximum allowed deviation from the mean premium. E.g. if

            `tolerance_pct` is 0.05 (5%), and the mean premium is 5%, then

            orders will be prevented from being placed if the premium exceeds 10%.'
    MarketType:
      type: string
      enum:
      - SPOT
      - PERP
      - IPERP
      - DATED
      - PREDICTION
      - RFQ
    StrikePriceCondition:
      type: string
      description: Strike price condition values.
      enum:
      - above
      - below
    ResolutionCondition_StrikePriceResolutionCondition:
      description: Condition that determines how a prediction market resolves.
      allOf:
      - type: object
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - StrikePrice
            example: StrikePrice
      - $ref: '#/components/schemas/StrikePriceResolutionCondition'
    QuantityRangeResolutionCondition:
      type: object
      title: QuantityRangeResolutionCondition
      description: Resolution condition based on quantity range.
      properties:
        greaterThanOrEqual:
          type: string
          format: decimal
          description: Lower bound (inclusive) for the quantity.
        lessThan:
          type: string
          format: decimal
          description: Upper bound (exclusive) for the quantity.
    SeriesRecurrence:
      type: string
      enum:
      - minutely
      - fiveMinutely
      - fifteenMinutely
      - hourly
      - daily
      - weekly
      - monthly
    ApiErrorCode:
      type: string
      enum:
      - ACCOUNT_DEACTIVATED
      - ACCOUNT_LIQUIDATING
      - BORROW_LIMIT
      - BORROW_REQUIRES_LEND_REDEEM
      - FORBIDDEN
      - INSUFFICIENT_FUNDS
      - INSUFFICIENT_MARGIN
      - INSUFFICIENT_SUPPLY
      - INVALID_ASSET
      - INVALID_CLIENT_REQUEST
      - INVALID_MARKET
      - INVALID_ORDER
      - INVALID_PRICE
      - INVALID_POSITION_ID
      - INVALID_QUANTITY
      - INVALID_RANGE
      - INVALID_SIGNATURE
      - INVALID_SOURCE
      - INVALID_SYMBOL
      - INVALID_TWO_FACTOR_CODE
      - LEND_LIMIT
      - LEND_REQUIRES_BORROW_REPAY
      - MAINTENANCE
      - MAX_LEVERAGE_REACHED
      - NOT_IMPLEMENTED
      - ORDER_LIMIT
      - POSITION_LIMIT
      - PRECONDITION_FAILED
      - RESOURCE_NOT_FOUND
      - SERVER_ERROR
      - TIMEOUT
      - TOO_EARLY
      - TOO_MANY_REQUESTS
      - TRADING_PAUSED
      - UNAUTHORIZED
    OrderBookFilters:
      type: object
      title: OrderBookFilters
      required:
      - price
      - quantity
      properties:
        price:
          description: Defines the price rules for the order book.
          allOf:
          - $ref: '#/components/schemas/PriceFilter'
          - description: Defines the price rules for the order book.
        quantity:
          description: Defines the quantity rules for the order book.
          allOf:
          - $ref: '#/components/schemas/QuantityFilter'
          - description: Defines the quantity rules for the order book.
    MarketSession:
      type: object
      title: MarketSession
      required:
      - name
      - startTime
      - endTime
      - timezone
      - startWeekday
      - endWeekday
      properties:
        name:
          type: string
          description: Session name (e.g. "US_MARKET_HOURS").
        description:
          type: string
          description: Session description.
        startTime:
          type: string
          format: naive-time
          description: Session start time (local to the timezone).
        endTime:
          type: string
          format: naive-time
          description: Session end time (local to the timezone).
        timezone:
          type: string
          description: Timezone identifier (e.g. "America/New_York").
        startWeekday:
          type: integer
          format: int32
          description: ISO 8601 weekday on which the session opens (1 = Monday, 7 = Sunday).
        endWeekday:
          type: integer
          format: int32
          description: 'ISO 8601 weekday on which the session last opens. If `endWeekday <

            startWeekday` the range wraps the week (e.g. `7..4` = Sun-Thu).'
    Event:
      type: object
      title: Event
      required:
      - slug
      - title
      - predictionMarkets
      - tags
      - series
      - description
      - quoteVolume
      - resolution
      - resolved
      - resolutionDelaySecs
      properties:
        slug:
          type: string
          description: 'The identifier for the event that the prediction markets are based on.

            Multiple markets for the same event (e.g. `2026-fifa-world-cup-winner-mens`) will have the same identifier.'
        title:
          type: string
          description: 'The title for the prediction event that the prediction markets are based on.

            Multiple prediction markets may have the same title

            E.g. a set of prediction markets of the winner of the world cup would have title `2026 FIFA World Cup Winner`'
        predictionMarkets:
          type: array
          description: The prediction markets associated with this event.
          items:
            $ref: '#/components/schemas/PredictionMarket'
        tags:
          type: array
          description: Tags associated with the prediction event e.g. `["SPORTS", "FOOTBALL", "WORLD CUP"]`
          items:
            $ref: '#/components/schemas/Tag'
        series:
          type: array
          description: 'The series of the prediction event.

            Every world cup winner market will have the same series.'
          items:
            $ref: '#/components/schemas/Series'
        description:
          type: string
          description: A description of the event.
        imgUrl:
          type: string
          description: An image URL associated with the event.
        quoteVolume:
          type: string
          format: decimal
          description: The total 24hr quote volume of the prediction event.
        resolution:
          description: Resolution data for the prediction event.
          allOf:
          - $ref: '#/components/schemas/Resolution'
          - description: Resolution data for the prediction event.
        resolved:
          type: boolean
          description: Whether the event has been resolved.
        resolutionDelaySecs:
          type: integer
          format: int32
          description: 'Seconds to wait after a market''s proposed resolution before resolving it.

            Applied to every market in the event. Bounded server-side to [0, 604800] (7 days).'
    SqrtFunction:
      type: object
      title: SqrtFunction
      required:
      - base
      - factor
      properties:
        base:
          type: string
          format: decimal
        factor:
          type: string
          format: decimal
    ResolutionCondition_QuantityRangeResolutionCondition:
      description: Condition that determines how a prediction market resolves.
      allOf:
      - type: object
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - QuantityRange
            example: QuantityRange
      - $ref: '#/components/schemas/QuantityRangeResolutionCondition'
    StrikePriceResolutionCondition:
      type: object
      title: StrikePriceResolutionCondition
      description: Strike price resolution condition wrapper.
      required:
      - condition
      properties:
        condition:
          $ref: '#/components/schemas/StrikePriceCondition'
    OutcomeResolutionCondition:
      type: object
      title: OutcomeResolutionCondition
      description: Outcome resolution condition wrapper.
      required:
      - outcome
      properties:
        outcome:
          type: string
    ResolutionSource:
      type: string
      description: Source for event resolution prices.
      enum:
      - binance
    SecuritySession:
      type: object
      title: SecuritySession
      required:
      - name
      - minQuantity
      - stepSize
      properties:
        name:
          type: string
          description: Session name — matches a name in the sessions list.
        minQuantity:
          type: string
          format: decimal
          description: Minimum order quantity during this session.
        maxQuantity:
          type: string
          format: decimal
          description: Maximum order quantity during this session.
        stepSize:
          type: string
          format: decimal
          description: Minimum quantity increment during this session.
    FundingIntervalRate:
      type: object
      title: FundingIntervalRate
      required:
      - symbol
      - intervalEndTimestamp
      - fundingRate
      properties:
        symbol:
          type: string
          description: The symbol of the market associated to the funding interval.
        intervalEndTimestamp:
          type: string
          format: naive-date-time
          description: The end of the funding interval.
        fundingRate:
          type: string
          format: decimal
          description: The funding rate for the interval.
    KlineInterval:
      type: string
      enum:
      - 1s
      - 1m
      - 3m
      - 5m
      - 15m
      - 30m
      - 1h
      - 2h
      - 4h
      - 6h
      - 8h
      - 12h
      - 1d
      - 3d
      - 1w
      - 1month
    ResolutionCondition_OutcomeResolutionCondition:
      description: Condition that determines how a prediction market resolves.
      allOf:
      - type: object
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - Outcome
            example: Outcome
      - $ref: '#/components/schemas/OutcomeResolutionCondition'
    Series:
      type: object
      title: Series
      required:
      - slug
      - title
      properties:
        slug:
          type: string
          description: 'The series id of the prediction event e.g. `world-cup-winner-mens`.

            Every world cup winner market will have the same series id.'
        title:
          type: string
          description: The series title of the prediction event e.g. `World Cup winner (mens)`
        recurrence:
          description: The recurrence of the series e.g. `Weekly`.
          allOf:
          - $ref: '#/components/schemas/SeriesRecurrence'
          - description: The recurrence of the series e.g. `Weekly`.
    Security:
      type: object
      title: Security
      required:
      - asset
      - name
      - sessions
      properties:
        asset:
          description: Asset symbol.
          allOf:
          - $ref: '#/components/schemas/CustodyAsset'
          - description: Asset symbol.
        name:
          type: string
          description: Name.
        cusip:
          type: string
          description: CUSIP identifier for the security.
        sessions:
          type: array
          description: Trading sessions with their active hours and quantity filters.
          items:
            $ref: '#/components/schemas/SecuritySession'
    Kline:
      type: object
      title: Kline
      description: 'Public K-line response shape.


        Lives in `bpx_api_types` so that both `api` and `api-klines` can return

        the same JSON shape to clients.'
      required:
      - start
      - end
      - volume
      - quoteVolume
      - trades
      properties:
        start:
          type: string
          description: Start time.
        end:
          type: string
          description: End time.
        open:
          type: string
          description: Open price.
        high:
          type: string
          description: High price.
        low:
          type: string
          description: Low price.
        close:
          type: string
          description: Close price.
        volume:
          type: string
          description: Volume in base asset.
        quoteVolume:
          type: string
          description: Volume in quote asset.
        trades:
          type: string
          description: Number of trades during the K-line.
    ResolutionCondition:
      type: object
      description: Condition that determines how a prediction market resolves.
      anyOf:
      - $ref: '#/components/schemas/ResolutionCondition_QuantityRangeResolutionCondition'
      - $ref: '#/components/schemas/ResolutionCondition_StrikePriceResolutionCondition'
      - $ref: '#/components/schemas/ResolutionCondition_OutcomeResolutionCondition'
      discriminator:
        propertyName: type
        mapping:
          QuantityRange: '#/components/schemas/ResolutionCondition_QuantityRangeResolutionCondition'
          StrikePrice: '#/components/schemas/ResolutionCondition_StrikePriceResolutionCondition'
          Outcome: '#/components/schemas/ResolutionCondition_OutcomeResolutionCondition'
    PositionImfFunction:
      type: object
      anyOf:
      - $ref: '#/components/schemas/PositionImfFunction_SqrtFunction'
      discriminator:
        propertyName: type
        mapping:
          sqrt: '#/components/schemas/PositionImfFunction_SqrtFunction'
    PriceFilter:
      type: object
      title: PriceFilter
      required:
      - minPrice
      - tickSize
      properties:
        minPrice:
          type: string
          format: decimal
          description: Minimum price the order book will allow.
        maxPrice:
          type: string
          format: decimal
          description: Maximum price the order book will allow.
        tickSize:
          type: string
          format: decimal
          description: Price increment.
        maxMultiplier:
          type: string
          format: decimal
          description: Maximum allowed multiplier from last active price.
        minMultiplier:
          type: string
          format: decimal
          description: Minimum allowed multiplier from last active price.
        maxImpactMultiplier:
          type: string
          format: decimal
          description: 'Maximum allowed impact multiplier from best offer. This

            determines how far above the best ask a market buy can penetrate.'
        minImpactMultiplier:
          type: string
          format: decimal
          description: 'Minimum allowed impact multiplier from best bid. This

            determines how far below the best bid a market sell can penetrate.'
        meanMarkPriceBand:
          description: 'Futures price band. Used to determine how far the price is allowed to

            deviate from the mean mark price.'
          allOf:
          - $ref: '#/components/schemas/PriceBandMarkPrice'
          - description: 'Futures price band. Used to determine how far the price is allowed to

              deviate from the mean mark price.'
        meanPremiumBand:
          description: 'Futures price band. Used to determine how far the premium is allowed to

            deviate from the mean premium.'
          allOf:
          - $ref: '#/components/schemas/PriceBandMeanPremium'
          - description: 'Futures price band. Used to determine how far the premium is allowed to

              deviate from the mean premium.'
        borrowEntryFeeMaxMultiplier:
          type: string
          format: decimal
          description: 'Maximum allowed multiplier move from last active price without incurring

            an entry fee for spot margin.'
        borrowEntryFeeMinMultiplier:
          type: string
          format: decimal
          description: 'Minimum allowed multiplier move from last active price without incurring

            an entry fee for spot margin.'
        maxPriceUpdateMultiplier:
          type: string
          format: decimal
          description: 'Maximum allowed multiplier for mark/index price updates relative to

            the previous mark/index price. When set, an update is capped at

            `prev * max_price_update_multiplier`.'
        minPriceUpdateMultiplier:
          type: string
          format: decimal
          description: 'Minimum allowed multiplier for mark/index price updates relative to

            the previous mark/index price. When set, an update is floored at

            `prev * min_price_update_multiplier`.'
    PositionImfFunction_SqrtFunction:
      allOf:
      - type: object
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - sqrt
            example: sqrt
      - $ref: '#/components/schemas/SqrtFunction'
    Resolution:
      type: object
      title: Resolution
      description: Resolution data for a prediction event.
      required:
      - resolved
      - startDate
      properties:
        resolved:
          type: boolean
          description: Whether the event has been resolved. An event is resolved when all associated markets are resolved.
        startDate:
          type: string
          format: naive-date-time
          description: Start time of the prediction event.
        endDate:
          type: string
          format: naive-date-time
          description: End time of the prediction event.
        strikePrice:
          type: string
          format: decimal
          description: The strike price for the prediction event at the start date.
        closePrice:
          type: string
          format: decimal
          description: The closing price at the end of the prediction event at the end date.
        resolutionSourceEventIdentifier:
          type: string
          description: The identifier on the resolution source e.g. BTCUSDT for Binance.
        resolutionSource:
          description: The source for event resolution.
          allOf:
          - $ref: '#/components/schemas/ResolutionSource'
          - description: The source for event resolution.
        outcome:
          type: string
          description: The outcome for outcome-based resolution, e.g. an election winner.
    PriceBandMarkPrice:
      type: object
      title: PriceBandMarkPrice
      required:
      - maxMultiplier
      - minMultiplier
      properties:
        maxMultiplier:
          type: string
          format: decimal
          description: Maximum allowed multiplier move from mean price.
        minMultiplier:
          type: string
          format: decimal
          description: Minimum allowed multiplier move from mean price.
    Depth:
      type: object
      title: Depth
      required:
      - asks
      - bids
      - lastUpdateId
      - timestamp
      properties:
        asks:
          type: array
          description: Asks on the order book.
          items:
            type: array
            items:
              type: string
              format: decimal
            maxLength: 2
            minLength: 2
        bids:
          type: array
          description: Bids on the order book.
          items:
            type: array
            items:
              type: string
              format: decimal
            maxLength: 2
            minLength: 2
        lastUpdateId:
          type: string
          description: Update ID that caused the last change to the order book depth.
        timestamp:
          type: integer
          format: int64
          description: Matching engine timestamp in microseconds.
      example:
        asks:
        - - '21.9'
          - '500.123'
        - - '22.1'
          - '2321.11'
        bids:
        - - '20.12'
          - '255.123'
        - - '20.5'
          - '499.555'
        lastUpdateId: '1684026955123'
        timestamp: 1684026955123
    Ticker:
      type: object
      title: Ticker
      description: 'Public ticker response shape.


        Lives in `bpx_api_types` so that both `api` and `api-klines` can return

        the same JSON shape to clients.'
      required:
      - symbol
      - firstPrice
      - lastPrice
      - priceChange
      - priceChangePercent
      - high
      - low
      - volume
      - quoteVolume
      - trades
      properties:
        symbol:
          type: string
          description: The symbol of the market.
        firstPrice:
          type: string
          format: decimal
          description: First price for the interval.
        lastPrice:
          type: string
          format: decimal
          description: Last price for the interval.
        priceChange:
          type: string
          format: decimal
          description: Price change for the interval.
        priceChangePercent:
          type: string
          format: decimal
          description: Percentage price change for the interval.
        high:
          type: string
          format: decimal
          description: Highest price for the interval.
        low:
          type: string
          format: decimal
          description: Lowest price for the interval.
        volume:
          type: string
          format: decimal
          description: Base volume for the interval.
        quoteVolume:
          type: string
          format: decimal
          description: Quote volume for the interval.
        trades:
          type: string
          description: Trades for the interval.
x-tagGroups:
- name: Public Endpoints
  tags:
  - Assets
  - Borrow Lend Markets
  - Markets
  - System
  - Trades
- name: Authenticated Endpoints
  tags:
  - Account
  - Borrow Lend
  - Capital
  - Order
  - Position
  - RFQ
  - Strategy
- name: Websocket
  tags:
  - Streams
