openapi: 3.2.0
info:
  title: Backpack Exchange RFQ API
  description: '# Introduction


    Welcome to the Backpack Exchange API.'
  version: '1.0'
  x-logo:
    url: https://cdn.prod.website-files.com/66830ad123bea7f626bcf58f/68eccb03852237fd98ffad9b_Backpack-Icon-Color.svg
    altText: Backpack Exchange
  contact:
    name: Backpack Exchange Support
    url: https://support.backpack.exchange/
  license:
    name: Proprietary
servers:
- url: https://api.backpack.exchange
tags:
- name: RFQ
  description: RFQ (Request For Quote) - Maker.
paths:
  /api/v1/rfq/quote:
    post:
      tags:
      - RFQ
      summary: Submit quote
      description: 'Submit a quote in response to an RFQ. If valid, the quote may be

        accepted within the specified time window.


        **Instruction:** `quoteSubmit`'
      parameters:
      - name: X-API-KEY
        schema:
          type: string
        in: header
        description: API key
        required: true
        deprecated: false
        explode: true
      - name: X-SIGNATURE
        schema:
          type: string
        in: header
        description: Signature of the request
        required: true
        deprecated: false
        explode: true
      - name: X-TIMESTAMP
        schema:
          type: integer
          format: int64
        in: header
        description: Timestamp of the request in milliseconds
        required: true
        deprecated: false
        explode: true
      - name: X-WINDOW
        schema:
          type: integer
          format: uint64
        in: header
        description: Time the request is valid for in milliseconds (default `5000`, maximum `60000`)
        required: false
        deprecated: false
        explode: true
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/QuotePayload'
        required: true
      responses:
        '200':
          description: Accepted.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Quote'
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '503':
          description: System under maintenance.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: submit_quote
  /api/v1/rfqs:
    get:
      tags:
      - RFQ
      summary: Get open RFQs
      description: 'Retrieves open RFQs submitted by the account, along with the quotes

        submitted for them. Optionally filter by symbol, RFQ ID, or deferred

        settlement status.


        **Instruction:** `rfqQuery`'
      parameters:
      - name: X-API-KEY
        schema:
          type: string
        in: header
        description: API key
        required: true
        deprecated: false
        explode: true
      - name: X-SIGNATURE
        schema:
          type: string
        in: header
        description: Signature of the request
        required: true
        deprecated: false
        explode: true
      - name: X-TIMESTAMP
        schema:
          type: integer
          format: int64
        in: header
        description: Timestamp of the request in milliseconds
        required: true
        deprecated: false
        explode: true
      - name: X-WINDOW
        schema:
          type: integer
          format: uint64
        in: header
        description: Time the request is valid for in milliseconds (default `5000`, maximum `60000`)
        required: false
        deprecated: false
        explode: true
      - name: symbol
        schema:
          type: string
        in: query
        description: Filter by market symbol.
        required: false
        deprecated: false
        explode: true
      - name: rfqId
        schema:
          type: integer
          format: uint64
        in: query
        description: Filter by RFQ ID.
        required: false
        deprecated: false
        explode: true
      - name: deferredSettlement
        schema:
          type: boolean
        in: query
        description: 'Filter for deferred settlement RFQs only (`true`), non-deferred

          only (`false`), or return all (`null`/omitted).'
        required: false
        deprecated: false
        explode: true
      - name: subaccountId
        schema:
          type: integer
          format: uint16
        in: query
        description: Subaccount ID for unsigned requests.
        required: false
        deprecated: false
        explode: true
      responses:
        '200':
          description: Open RFQs with their quotes.
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RfqWithQuotes'
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '503':
          description: System under maintenance.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_open_rfqs
  /api/v1/rfq:
    post:
      tags:
      - RFQ
      summary: Submit RFQ
      description: 'Submit an RFQ (Request For Quote). The RFQ will be available for

        a specified time window for makers to respond to.


        **Instruction:** `rfqSubmit`'
      parameters:
      - name: X-API-KEY
        schema:
          type: string
        in: header
        description: API key
        required: true
        deprecated: false
        explode: true
      - name: X-SIGNATURE
        schema:
          type: string
        in: header
        description: Signature of the request
        required: true
        deprecated: false
        explode: true
      - name: X-TIMESTAMP
        schema:
          type: integer
          format: int64
        in: header
        description: Timestamp of the request in milliseconds
        required: true
        deprecated: false
        explode: true
      - name: X-WINDOW
        schema:
          type: integer
          format: uint64
        in: header
        description: Time the request is valid for in milliseconds (default `5000`, maximum `60000`)
        required: false
        deprecated: false
        explode: true
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/RequestForQuotePayload'
        required: true
      responses:
        '200':
          description: Accepted.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RequestForQuote'
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '503':
          description: System under maintenance.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: submit_rfq
  /api/v1/rfq/accept:
    post:
      tags:
      - RFQ
      summary: Accept quote
      description: 'Accept a specific quote from a maker in response to an RFQ.


        **Instruction:** `quoteAccept`'
      parameters:
      - name: X-API-KEY
        schema:
          type: string
        in: header
        description: API key
        required: true
        deprecated: false
        explode: true
      - name: X-SIGNATURE
        schema:
          type: string
        in: header
        description: Signature of the request
        required: true
        deprecated: false
        explode: true
      - name: X-TIMESTAMP
        schema:
          type: integer
          format: int64
        in: header
        description: Timestamp of the request in milliseconds
        required: true
        deprecated: false
        explode: true
      - name: X-WINDOW
        schema:
          type: integer
          format: uint64
        in: header
        description: Time the request is valid for in milliseconds (default `5000`, maximum `60000`)
        required: false
        deprecated: false
        explode: true
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/QuoteAcceptPayload'
        required: true
      responses:
        '200':
          description: Accepted.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RequestForQuote'
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '503':
          description: System under maintenance.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: accept_quote
  /api/v1/rfq/refresh:
    post:
      tags:
      - RFQ
      summary: Refresh RFQ
      description: 'Refresh a RFQ, extending the time window it is available for.


        **Instruction:** `rfqRefresh`'
      parameters:
      - name: X-API-KEY
        schema:
          type: string
        in: header
        description: API key
        required: true
        deprecated: false
        explode: true
      - name: X-SIGNATURE
        schema:
          type: string
        in: header
        description: Signature of the request
        required: true
        deprecated: false
        explode: true
      - name: X-TIMESTAMP
        schema:
          type: integer
          format: int64
        in: header
        description: Timestamp of the request in milliseconds
        required: true
        deprecated: false
        explode: true
      - name: X-WINDOW
        schema:
          type: integer
          format: uint64
        in: header
        description: Time the request is valid for in milliseconds (default `5000`, maximum `60000`)
        required: false
        deprecated: false
        explode: true
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/RequestForQuoteRefreshPayload'
        required: true
      responses:
        '200':
          description: Accepted.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RequestForQuote'
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '503':
          description: System under maintenance.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: refresh_rfq
  /api/v1/rfq/cancel:
    post:
      tags:
      - RFQ
      summary: Cancel RFQ
      description: '**Instruction:** `rfqCancel`'
      parameters:
      - name: X-API-KEY
        schema:
          type: string
        in: header
        description: API key
        required: true
        deprecated: false
        explode: true
      - name: X-SIGNATURE
        schema:
          type: string
        in: header
        description: Signature of the request
        required: true
        deprecated: false
        explode: true
      - name: X-TIMESTAMP
        schema:
          type: integer
          format: int64
        in: header
        description: Timestamp of the request in milliseconds
        required: true
        deprecated: false
        explode: true
      - name: X-WINDOW
        schema:
          type: integer
          format: uint64
        in: header
        description: Time the request is valid for in milliseconds (default `5000`, maximum `60000`)
        required: false
        deprecated: false
        explode: true
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/RequestForQuoteCancelPayload'
        required: true
      responses:
        '200':
          description: Accepted.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RequestForQuote'
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '503':
          description: System under maintenance.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: cancel_rfq
  /wapi/v1/history/rfq:
    get:
      tags:
      - RFQ
      summary: Get RFQ history
      description: 'This includes RFQs that have been filled or expired.


        **Instruction:** `rfqHistoryQueryAll`'
      parameters:
      - name: X-API-KEY
        schema:
          type: string
        in: header
        description: API key
        required: false
        deprecated: false
        explode: true
      - name: X-SIGNATURE
        schema:
          type: string
        in: header
        description: Signature of the request
        required: false
        deprecated: false
        explode: true
      - name: X-TIMESTAMP
        schema:
          type: integer
          format: int64
        in: header
        description: Timestamp of the request in milliseconds
        required: false
        deprecated: false
        explode: true
      - name: X-WINDOW
        schema:
          type: integer
          format: uint64
        in: header
        description: Time the request is valid for in milliseconds (default `5000`, maximum `60000`)
        required: false
        deprecated: false
        explode: true
      - name: rfqId
        schema:
          type: string
        in: query
        description: Filter to the given rfq.
        required: false
        deprecated: false
        explode: true
      - name: symbol
        schema:
          type: string
        in: query
        description: Filter to the given symbol.
        required: false
        deprecated: false
        explode: true
      - name: status
        schema:
          $ref: '#/components/schemas/OrderStatus'
        in: query
        description: Filter to the given status.
        required: false
        deprecated: false
        explode: true
      - name: side
        schema:
          $ref: '#/components/schemas/Side'
        in: query
        description: Filter to the given side.
        required: false
        deprecated: false
        explode: true
      - name: limit
        schema:
          type: integer
          format: uint64
        in: query
        description: Maximum number to return. Default `100`, maximum `1000`.
        required: false
        deprecated: false
        explode: true
      - name: offset
        schema:
          type: integer
          format: uint64
        in: query
        description: Offset. Default `0`.
        required: false
        deprecated: false
        explode: true
      - name: sortDirection
        schema:
          $ref: '#/components/schemas/SortDirection'
        in: query
        description: Sort direction.
        required: false
        deprecated: false
        explode: true
      - name: deferredSettlement
        schema:
          type: boolean
        in: query
        description: Filter to deferred settlement RFQs only (`true`) or non-deferred only (`false`).
        required: false
        deprecated: false
        explode: true
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RequestForQuoteHistorical'
          headers:
            ACCESS-CONTROL-EXPOSE-HEADERS:
              required: true
              deprecated: false
              schema:
                type: string
            X-PAGE-COUNT:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-CURRENT-PAGE:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-PAGE-SIZE:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-TOTAL:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            CACHE-CONTROL:
              required: true
              deprecated: false
              schema:
                type: string
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_rfq_history
  /wapi/v1/history/quote:
    get:
      tags:
      - RFQ
      summary: Get quote history
      description: 'Retrieves the quote history for the user. This includes quotes that have

        been filled or expired.


        **Instruction:** `quoteHistoryQueryAll`'
      parameters:
      - name: X-API-KEY
        schema:
          type: string
        in: header
        description: API key
        required: false
        deprecated: false
        explode: true
      - name: X-SIGNATURE
        schema:
          type: string
        in: header
        description: Signature of the request
        required: false
        deprecated: false
        explode: true
      - name: X-TIMESTAMP
        schema:
          type: integer
          format: int64
        in: header
        description: Timestamp of the request in milliseconds
        required: false
        deprecated: false
        explode: true
      - name: X-WINDOW
        schema:
          type: integer
          format: uint64
        in: header
        description: Time the request is valid for in milliseconds (default `5000`, maximum `60000`)
        required: false
        deprecated: false
        explode: true
      - name: quoteId
        schema:
          type: string
        in: query
        description: Filter to the given quote.
        required: false
        deprecated: false
        explode: true
      - name: symbol
        schema:
          type: string
        in: query
        description: Filter to the given symbol.
        required: false
        deprecated: false
        explode: true
      - name: status
        schema:
          $ref: '#/components/schemas/OrderStatus'
        in: query
        description: Filter to the given status.
        required: false
        deprecated: false
        explode: true
      - name: limit
        schema:
          type: integer
          format: uint64
        in: query
        description: Maximum number to return. Default `100`, maximum `1000`.
        required: false
        deprecated: false
        explode: true
      - name: offset
        schema:
          type: integer
          format: uint64
        in: query
        description: Offset. Default `0`.
        required: false
        deprecated: false
        explode: true
      - name: sortDirection
        schema:
          $ref: '#/components/schemas/SortDirection'
        in: query
        description: Sort direction.
        required: false
        deprecated: false
        explode: true
      - name: deferredSettlement
        schema:
          type: boolean
        in: query
        description: Filter to deferred settlement quotes only (`true`) or non-deferred only (`false`).
        required: false
        deprecated: false
        explode: true
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuoteHistorical'
          headers:
            ACCESS-CONTROL-EXPOSE-HEADERS:
              required: true
              deprecated: false
              schema:
                type: string
            X-PAGE-COUNT:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-CURRENT-PAGE:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-PAGE-SIZE:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-TOTAL:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            CACHE-CONTROL:
              required: true
              deprecated: false
              schema:
                type: string
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_quote_history
  /wapi/v1/history/rfq/fill:
    get:
      tags:
      - RFQ
      summary: Get RFQ fill history
      description: 'Retrieves RFQ fill history for the user.


        **Instruction:** `rfqFillHistoryQueryAll`'
      parameters:
      - name: X-API-KEY
        schema:
          type: string
        in: header
        description: API key
        required: false
        deprecated: false
        explode: true
      - name: X-SIGNATURE
        schema:
          type: string
        in: header
        description: Signature of the request
        required: false
        deprecated: false
        explode: true
      - name: X-TIMESTAMP
        schema:
          type: integer
          format: int64
        in: header
        description: Timestamp of the request in milliseconds
        required: false
        deprecated: false
        explode: true
      - name: X-WINDOW
        schema:
          type: integer
          format: uint64
        in: header
        description: Time the request is valid for in milliseconds (default `5000`, maximum `60000`)
        required: false
        deprecated: false
        explode: true
      - name: quoteId
        schema:
          type: string
        in: query
        description: Filter to the given RFQ.
        required: false
        deprecated: false
        explode: true
      - name: symbol
        schema:
          type: string
        in: query
        description: Filter to the given symbol.
        required: false
        deprecated: false
        explode: true
      - name: side
        schema:
          $ref: '#/components/schemas/Side'
        in: query
        description: Filter to the given side.
        required: false
        deprecated: false
        explode: true
      - name: fillType
        schema:
          $ref: '#/components/schemas/RfqFillType'
        in: query
        description: Filter by fill type (system order type).
        required: false
        deprecated: false
        explode: true
      - name: deferredSettlement
        schema:
          type: boolean
        in: query
        description: If `true`, return only deferred settlement fills. If `false`, return only non-deferred settlement fills. If omitted, return fills regardless of settlement type.
        required: false
        deprecated: false
        explode: true
      - name: limit
        schema:
          type: integer
          format: uint64
        in: query
        description: Maximum number to return. Default `100`, maximum `1000`.
        required: false
        deprecated: false
        explode: true
      - name: offset
        schema:
          type: integer
          format: uint64
        in: query
        description: Offset. Default `0`.
        required: false
        deprecated: false
        explode: true
      - name: sortDirection
        schema:
          $ref: '#/components/schemas/SortDirection'
        in: query
        description: Sort direction.
        required: false
        deprecated: false
        explode: true
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RequestForQuoteFillHistorical'
          headers:
            ACCESS-CONTROL-EXPOSE-HEADERS:
              required: true
              deprecated: false
              schema:
                type: string
            X-PAGE-COUNT:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-CURRENT-PAGE:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-PAGE-SIZE:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-TOTAL:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            CACHE-CONTROL:
              required: true
              deprecated: false
              schema:
                type: string
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_rfq_fill_history
  /wapi/v1/history/quote/fill:
    get:
      tags:
      - RFQ
      summary: Get quote fill history
      description: 'Retrieves the quote fill history for the user.


        **Instruction:** `quoteFillHistoryQueryAll`'
      parameters:
      - name: X-API-KEY
        schema:
          type: string
        in: header
        description: API key
        required: false
        deprecated: false
        explode: true
      - name: X-SIGNATURE
        schema:
          type: string
        in: header
        description: Signature of the request
        required: false
        deprecated: false
        explode: true
      - name: X-TIMESTAMP
        schema:
          type: integer
          format: int64
        in: header
        description: Timestamp of the request in milliseconds
        required: false
        deprecated: false
        explode: true
      - name: X-WINDOW
        schema:
          type: integer
          format: uint64
        in: header
        description: Time the request is valid for in milliseconds (default `5000`, maximum `60000`)
        required: false
        deprecated: false
        explode: true
      - name: quoteId
        schema:
          type: string
        in: query
        description: Filter to the given quote.
        required: false
        deprecated: false
        explode: true
      - name: symbol
        schema:
          type: string
        in: query
        description: Filter to the given symbol.
        required: false
        deprecated: false
        explode: true
      - name: side
        schema:
          $ref: '#/components/schemas/Side'
        in: query
        description: Filter to the given side.
        required: false
        deprecated: false
        explode: true
      - name: limit
        schema:
          type: integer
          format: uint64
        in: query
        description: Maximum number to return. Default `100`, maximum `1000`.
        required: false
        deprecated: false
        explode: true
      - name: offset
        schema:
          type: integer
          format: uint64
        in: query
        description: Offset. Default `0`.
        required: false
        deprecated: false
        explode: true
      - name: sortDirection
        schema:
          $ref: '#/components/schemas/SortDirection'
        in: query
        description: Sort direction.
        required: false
        deprecated: false
        explode: true
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuoteFillHistorical'
          headers:
            ACCESS-CONTROL-EXPOSE-HEADERS:
              required: true
              deprecated: false
              schema:
                type: string
            X-PAGE-COUNT:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-CURRENT-PAGE:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-PAGE-SIZE:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            X-TOTAL:
              required: true
              deprecated: false
              schema:
                type: integer
                format: uint64
            CACHE-CONTROL:
              required: true
              deprecated: false
              schema:
                type: string
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_quote_fill_history
components:
  schemas:
    ApiErrorResponse:
      type: object
      title: ApiErrorResponse
      required:
      - code
      - message
      properties:
        code:
          $ref: '#/components/schemas/ApiErrorCode'
        message:
          type: string
    RequestForQuoteFillHistorical:
      type: object
      title: RequestForQuoteFillHistorical
      required:
      - rfqId
      - quoteId
      - symbol
      - side
      - fillPrice
      - createdAt
      - filledAt
      properties:
        rfqId:
          type: string
          description: Unique RFQ order ID, assigned by the matching engine.
        clientId:
          type: integer
          format: uint32
          description: Custom RFQ order ID, assigned by the user (optionally).
        quoteId:
          type: string
          description: Quote ID of the quote the RFQ was filled with.
        symbol:
          type: string
          description: Market symbol.
        side:
          description: Side.
          allOf:
          - $ref: '#/components/schemas/Side'
          - description: Side.
        quantity:
          type: string
          format: decimal
          description: Quantity to fill (in base asset).
        quoteQuantity:
          type: string
          format: decimal
          description: Quantity to fill (in quote asset).
        fillPrice:
          type: string
          format: decimal
          description: Fill price.
        createdAt:
          type: string
          format: naive-date-time
          description: Time the RFQ was created.
        filledAt:
          type: string
          format: naive-date-time
          description: Time the RFQ was filled.
        systemOrderType:
          description: System order type, if this was a system-initiated fill.
          allOf:
          - $ref: '#/components/schemas/SystemOrderType'
          - description: System order type, if this was a system-initiated fill.
    QuoteFillHistorical:
      type: object
      title: QuoteFillHistorical
      required:
      - quoteId
      - rfqId
      - symbol
      - side
      - quantity
      - fillPrice
      - fee
      - feeSymbol
      - createdAt
      - filledAt
      properties:
        clientId:
          type: integer
          format: uint32
          description: Custom RFQ quote ID, assigned by the maker (optionally).
        quoteId:
          type: string
          description: Quote ID.
        rfqId:
          type: string
          description: ID of the RFQ the quote was filled with.
        symbol:
          type: string
          description: Market symbol.
        side:
          description: Side.
          allOf:
          - $ref: '#/components/schemas/Side'
          - description: Side.
        quantity:
          type: string
          format: decimal
          description: Quantity (in base asset).
        fillPrice:
          type: string
          format: decimal
          description: Fill price.
        fee:
          type: string
          format: decimal
          description: Fee charged on the fill.
        feeSymbol:
          type: string
          description: Fee symbol.
        createdAt:
          type: string
          format: naive-date-time
          description: Time the quote was created.
        filledAt:
          type: string
          format: naive-date-time
          description: Time the RFQ was filled.
    RequestForQuotePayload:
      type: object
      title: RequestForQuotePayload
      required:
      - symbol
      - side
      properties:
        clientId:
          type: integer
          format: uint32
          description: Custom RFQ ID.
        quantity:
          type: string
          format: decimal
          description: RFQ quantity (in base asset).
        quoteQuantity:
          type: string
          format: decimal
          description: RFQ quote quantity (in quote asset).
        price:
          type: string
          format: decimal
          description: RFQ price. Only when execution mode is `Immediate`.
        symbol:
          type: string
          description: RFQ symbol.
        side:
          description: Side of the order.
          allOf:
          - $ref: '#/components/schemas/Side'
          - description: Side of the order.
        executionMode:
          description: 'Execution mode. Defaults to `AwaitAccept` when not provided.

            If `Immediate`, the RFQ must have a price and the first quote within the given price

            will be automatically accepted.

            If `AwaitAccept`, the RFQ will wait for the user to accept a specific quote.'
          allOf:
          - $ref: '#/components/schemas/RfqExecutionMode'
          - description: 'Execution mode. Defaults to `AwaitAccept` when not provided.

              If `Immediate`, the RFQ must have a price and the first quote within the given price

              will be automatically accepted.

              If `AwaitAccept`, the RFQ will wait for the user to accept a specific quote.'
        autoLend:
          type: boolean
          description: Whether to lend proceeds.
        autoLendRedeem:
          type: boolean
          description: Whether to redeem lends if required to fulfill the RFQ.
        autoBorrow:
          type: boolean
          description: Whether to borrow assets if required to fulfill the RFQ.
        autoBorrowRepay:
          type: boolean
          description: Whether to use proceeds to repay borrows.
    ApiErrorCode:
      type: string
      enum:
      - ACCOUNT_DEACTIVATED
      - ACCOUNT_LIQUIDATING
      - BORROW_LIMIT
      - BORROW_REQUIRES_LEND_REDEEM
      - FORBIDDEN
      - INSUFFICIENT_FUNDS
      - INSUFFICIENT_MARGIN
      - INSUFFICIENT_SUPPLY
      - INVALID_ASSET
      - INVALID_CLIENT_REQUEST
      - INVALID_MARKET
      - INVALID_ORDER
      - INVALID_PRICE
      - INVALID_POSITION_ID
      - INVALID_QUANTITY
      - INVALID_RANGE
      - INVALID_SIGNATURE
      - INVALID_SOURCE
      - INVALID_SYMBOL
      - INVALID_TWO_FACTOR_CODE
      - LEND_LIMIT
      - LEND_REQUIRES_BORROW_REPAY
      - MAINTENANCE
      - MAX_LEVERAGE_REACHED
      - NOT_IMPLEMENTED
      - ORDER_LIMIT
      - POSITION_LIMIT
      - PRECONDITION_FAILED
      - RESOURCE_NOT_FOUND
      - SERVER_ERROR
      - TIMEOUT
      - TOO_EARLY
      - TOO_MANY_REQUESTS
      - TRADING_PAUSED
      - UNAUTHORIZED
    OrderStatus:
      type: string
      enum:
      - Cancelled
      - Expired
      - Filled
      - New
      - PartiallyFilled
      - TriggerPending
      - TriggerFailed
    Quote:
      type: object
      title: Quote
      required:
      - rfqId
      - quoteId
      - bidPrice
      - askPrice
      - status
      - createdAt
      properties:
        rfqId:
          type: string
          description: Unique RFQ order ID, assigned by the matching engine.
        quoteId:
          type: string
          description: Unique RFQ quote ID, assigned by the matching engine.
        clientId:
          type: integer
          format: uint32
          description: Custom RFQ quote ID, assigned by the maker (optionally).
        bidPrice:
          type: string
          format: decimal
          description: Quote bid price.
        askPrice:
          type: string
          format: decimal
          description: Quote ask price.
        status:
          description: Status.
          allOf:
          - $ref: '#/components/schemas/OrderStatus'
          - description: Status.
        createdAt:
          type: integer
          format: int64
          description: Time the quote was created.
    RfqFillType:
      type: string
      description: Filter for RFQ fills by system order type.
      enum:
      - User
      - CollateralConversion
    Side:
      type: string
      enum:
      - Bid
      - Ask
    RequestForQuote:
      type: object
      title: RequestForQuote
      required:
      - rfqId
      - symbol
      - side
      - submissionTime
      - expiryTime
      - status
      - executionMode
      - createdAt
      properties:
        rfqId:
          type: string
          description: Unique RFQ order ID, assigned by the matching engine.
        clientId:
          type: integer
          format: uint32
          description: Custom RFQ order ID, assigned by the user (optionally).
        symbol:
          type: string
          description: Market symbol.
        side:
          description: Side.
          allOf:
          - $ref: '#/components/schemas/Side'
          - description: Side.
        price:
          type: string
          format: decimal
          description: 'RFQ price.

            Price of the RFQ. Only when execution mode is `Immediate`.'
        quantity:
          type: string
          format: decimal
          description: Quantity to fill (in base asset).
        quoteQuantity:
          type: string
          format: decimal
          description: Quantity to fill (in quote asset).
        submissionTime:
          type: integer
          format: int64
          description: 'Time (milliseconds since epoch) by which quotes must be submitted for

            the RFQ.'
        systemOrderType:
          description: The type of system order, only when RFQ was initiated by the system.
          allOf:
          - $ref: '#/components/schemas/SystemOrderType'
          - description: The type of system order, only when RFQ was initiated by the system.
        expiryTime:
          type: integer
          format: int64
          description: Time (milliseconds since epoch) by which the RFQ expires if no match.
        status:
          description: Status.
          allOf:
          - $ref: '#/components/schemas/OrderStatus'
          - description: Status.
        executionMode:
          description: RFQ execution mode.
          allOf:
          - $ref: '#/components/schemas/RfqExecutionMode'
          - description: RFQ execution mode.
        createdAt:
          type: integer
          format: int64
          description: Time the RFQ was created.
    SystemOrderType:
      type: string
      enum:
      - CollateralConversion
      - FutureExpiry
      - LiquidatePositionOnAdl
      - LiquidatePositionOnBook
      - LiquidatePositionOnBackstop
      - OrderBookClosed
    QuotePayload:
      type: object
      title: QuotePayload
      required:
      - rfqId
      - bidPrice
      - askPrice
      properties:
        rfqId:
          type: string
          description: RFQ ID.
        clientId:
          type: integer
          format: uint32
          description: Custom RFQ quote ID.
        bidPrice:
          type: string
          format: decimal
          description: Bid price.
        askPrice:
          type: string
          format: decimal
          description: Ask price.
        autoLend:
          type: boolean
          description: Whether to lend proceeds.
        autoLendRedeem:
          type: boolean
          description: Whether to redeem lends if required to fulfill the Quote.
        autoBorrow:
          type: boolean
          description: Whether to borrow assets if required to fulfill the Quote.
        autoBorrowRepay:
          type: boolean
          description: Whether to use proceeds to repay borrows.
    RequestForQuoteCancelPayload:
      type: object
      title: RequestForQuoteCancelPayload
      properties:
        rfqId:
          type: string
          description: RFQ ID.
        clientId:
          type: integer
          format: uint32
          description: Custom RFQ ID.
    RequestForQuoteRefreshPayload:
      type: object
      title: RequestForQuoteRefreshPayload
      required:
      - rfqId
      properties:
        rfqId:
          type: string
          description: RFQ ID. An RFQ can only be refreshed using the RFQ ID.
    QuoteHistorical:
      type: object
      title: QuoteHistorical
      required:
      - rfqId
      - quoteId
      - bidPrice
      - askPrice
      - status
      - createdAt
      - deferredSettlement
      properties:
        rfqId:
          type: string
          description: Unique RFQ order ID, assigned by the matching engine.
        quoteId:
          type: string
          description: Unique RFQ quote ID, assigned by the matching engine.
        clientId:
          type: integer
          format: uint32
          description: Custom RFQ quote ID, assigned by the maker (optionally).
        bidPrice:
          type: string
          format: decimal
          description: Quote bid price.
        askPrice:
          type: string
          format: decimal
          description: Quote ask price.
        status:
          description: Status.
          allOf:
          - $ref: '#/components/schemas/OrderStatus'
          - description: Status.
        createdAt:
          type: string
          format: naive-date-time
          description: Time the quote was created.
        deferredSettlement:
          type: boolean
          description: Whether this quote uses deferred settlement.
    SortDirection:
      type: string
      enum:
      - Asc
      - Desc
    RfqWithQuotes:
      type: object
      title: RfqWithQuotes
      description: An open RFQ together with the quotes submitted for it.
      required:
      - rfq
      - quotes
      properties:
        rfq:
          description: The RFQ.
          allOf:
          - $ref: '#/components/schemas/RequestForQuote'
          - description: The RFQ.
        quotes:
          type: array
          description: Quotes submitted for this RFQ.
          items:
            $ref: '#/components/schemas/Quote'
    QuoteAcceptPayload:
      type: object
      title: QuoteAcceptPayload
      required:
      - quoteId
      properties:
        rfqId:
          type: string
          description: RFQ ID.
        clientId:
          type: integer
          format: uint32
          description: Custom RFQ ID.
        quoteId:
          type: string
          description: RFQ quote ID.
    RequestForQuoteHistorical:
      type: object
      title: RequestForQuoteHistorical
      required:
      - rfqId
      - symbol
      - side
      - submissionTime
      - expiryTime
      - status
      - executionMode
      - createdAt
      properties:
        rfqId:
          type: string
          description: Unique RFQ order ID, assigned by the matching engine.
        clientId:
          type: integer
          format: uint32
          description: Custom RFQ order ID, assigned by the user (optionally).
        symbol:
          type: string
          description: Market symbol.
        side:
          description: Side.
          allOf:
          - $ref: '#/components/schemas/Side'
          - description: Side.
        price:
          type: string
          format: decimal
          description: 'RFQ price.

            Price of the RFQ. Only when execution mode is `Immediate`.'
        quantity:
          type: string
          format: decimal
          description: Quantity to fill (in base asset).
        quoteQuantity:
          type: string
          format: decimal
          description: Quantity to fill (in quote asset).
        submissionTime:
          type: string
          format: naive-date-time
          description: 'Time by which quotes must be submitted for

            the RFQ.'
        expiryTime:
          type: string
          format: naive-date-time
          description: Time by which the RFQ expires if no match.
        status:
          description: Status.
          allOf:
          - $ref: '#/components/schemas/OrderStatus'
          - description: Status.
        executionMode:
          description: RFQ execution mode.
          allOf:
          - $ref: '#/components/schemas/RfqExecutionMode'
          - description: RFQ execution mode.
        createdAt:
          type: string
          format: naive-date-time
          description: Time the RFQ was created.
        deferredSettlementQuoteId:
          type: string
          description: Quote ID of the accepted deferred settlement quote, if any.
    RfqExecutionMode:
      type: string
      enum:
      - AwaitAccept
      - Immediate
x-tagGroups:
- name: Public Endpoints
  tags:
  - Assets
  - Borrow Lend Markets
  - Markets
  - System
  - Trades
- name: Authenticated Endpoints
  tags:
  - Account
  - Borrow Lend
  - Capital
  - Order
  - Position
  - RFQ
  - Strategy
- name: Websocket
  tags:
  - Streams
