openapi: 3.2.0
info:
  title: Backpack Exchange Withdrawal Delays API
  description: '# Introduction


    Welcome to the Backpack Exchange API.'
  version: '1.0'
  x-logo:
    url: https://cdn.prod.website-files.com/66830ad123bea7f626bcf58f/68eccb03852237fd98ffad9b_Backpack-Icon-Color.svg
    altText: Backpack Exchange
  contact:
    name: Backpack Exchange Support
    url: https://support.backpack.exchange/
  license:
    name: Proprietary
servers:
- url: https://api.backpack.exchange
tags:
- name: Withdrawal Delays
  description: Withdrawal delays.
paths:
  /wapi/v1/capital/withdrawals/delay:
    get:
      tags:
      - Withdrawal Delays
      summary: Get withdrawal delay
      description: 'Retrieves the configured hourly delay for withdrawals to non-whitelisted

        addresses. This security feature adds a time delay before withdrawals are

        processed, allowing time to cancel unauthorized withdrawals.'
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/WithdrawalDelay'
        '204':
          description: No content.
        '401':
          description: Unauthorized.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: get_withdrawal_delay
    post:
      tags:
      - Withdrawal Delays
      summary: Create withdrawal delay
      description: 'Enables a configurable hourly delay for withdrawals to non-whitelisted

        addresses. This security feature helps protect the account by adding a

        time buffer before withdrawals are processed. Requires 2FA verification.'
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/CreateWithdrawalDelayRequest'
        required: true
      responses:
        '200':
          description: Success.
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: Withdrawal delay already exists.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: create_withdrawal_delay
    patch:
      tags:
      - Withdrawal Delays
      summary: Update withdrawal delay
      description: 'Updates the hourly delay for withdrawals to non-whitelisted addresses.

        Changes will take effect after the current delay period ends. Requires

        2FA verification.'
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/UpdateWithdrawalDelayRequest'
        required: true
      responses:
        '200':
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/WithdrawalDelay'
        '400':
          description: Bad request.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: ''
        '500':
          description: Internal Server Error.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: update_withdrawal_delay
components:
  schemas:
    ApiErrorResponse:
      type: object
      title: ApiErrorResponse
      required:
      - code
      - message
      properties:
        code:
          $ref: '#/components/schemas/ApiErrorCode'
        message:
          type: string
    WithdrawalDelay:
      type: object
      title: WithdrawalDelay
      properties:
        currentWithdrawalDelayHours:
          type: integer
          format: int32
          description: The delay applied to withdrawals being processed.
        pendingWithdrawalDelayHours:
          type: integer
          format: int32
          description: 'The delay that will be applied to withdrawals once the update to the

            setting is enabled.'
        pendingWithdrawalDelayHoursEnabledAt:
          type: string
          format: naive-date-time
          description: 'The time when the update to the withdrawal delay setting will be

            applied.'
    CreateWithdrawalDelayRequest:
      type: object
      title: CreateWithdrawalDelayRequest
      required:
      - withdrawalDelayHours
      - twoFactorToken
      properties:
        withdrawalDelayHours:
          type: integer
          format: uint32
          description: The delay applied to withdrawals being processed, in hours.
        twoFactorToken:
          type: string
          description: Issued two factor token.
    ApiErrorCode:
      type: string
      enum:
      - ACCOUNT_DEACTIVATED
      - ACCOUNT_LIQUIDATING
      - BORROW_LIMIT
      - BORROW_REQUIRES_LEND_REDEEM
      - FORBIDDEN
      - INSUFFICIENT_FUNDS
      - INSUFFICIENT_MARGIN
      - INSUFFICIENT_SUPPLY
      - INVALID_ASSET
      - INVALID_CLIENT_REQUEST
      - INVALID_MARKET
      - INVALID_ORDER
      - INVALID_PRICE
      - INVALID_POSITION_ID
      - INVALID_QUANTITY
      - INVALID_RANGE
      - INVALID_SIGNATURE
      - INVALID_SOURCE
      - INVALID_SYMBOL
      - INVALID_TWO_FACTOR_CODE
      - LEND_LIMIT
      - LEND_REQUIRES_BORROW_REPAY
      - MAINTENANCE
      - MAX_LEVERAGE_REACHED
      - NOT_IMPLEMENTED
      - ORDER_LIMIT
      - POSITION_LIMIT
      - PRECONDITION_FAILED
      - RESOURCE_NOT_FOUND
      - SERVER_ERROR
      - TIMEOUT
      - TOO_EARLY
      - TOO_MANY_REQUESTS
      - TRADING_PAUSED
      - UNAUTHORIZED
    UpdateWithdrawalDelayRequest:
      type: object
      title: UpdateWithdrawalDelayRequest
      required:
      - withdrawalDelayHours
      - twoFactorToken
      properties:
        withdrawalDelayHours:
          type: integer
          format: uint32
          description: The delay applied to withdrawals being processed, in hours.
        twoFactorToken:
          type: string
          description: Issued two factor token.
x-tagGroups:
- name: Public Endpoints
  tags:
  - Assets
  - Borrow Lend Markets
  - Markets
  - System
  - Trades
- name: Authenticated Endpoints
  tags:
  - Account
  - Borrow Lend
  - Capital
  - Order
  - Position
  - RFQ
  - Strategy
- name: Websocket
  tags:
  - Streams
